{% load static %}
<div id="page-footer" 
    class="flex
        w-100 min-vh-100
        pa1-00
        bg-blue0
        white-90"
    >
    <div id="container" 
        class=" grid gtc12 ggap1-00
            w-100"      
        tabindex="0" 
        title="" 
        aria-label=""
    >
        <section id="description"
            class="gr1s1 gr2s1-m gc1s12 gc1s9-m ggap1-00
                flex 
                w-100
                f1-00 tj"
        >   
            <section id="m_aesl__address" 
                class="mb0-00-m white-90 w-100" 
                data-use-new="true" 
                role="tabpanel" 
                aria-label="GET IN TOUCH" 
                section-index="1">
                
                <div id=""
                    class=" w-100 h-100
                        mb1-00 flex  flex-column justify-center items-center
                        f1-25 tc" 
                    itemtype="">
                    <div itemprop="name" class ="f1-00 ttu b mb1-50">
                        AESL Head Office
                    </div>

                    <div id="Locational_address"
                        class="mb4-00"
                        itemprop="address" 
                        itemscope="" 
                        itemtype="http://schema.org/PostalAddress">
                        <span class="dib mb0-50" itemprop="streetAddress">
                            <div class="mb0-25">
                                The Hall of Technology
                            </div> 
                            <div class="mb0-25">
                                Opposite The Ministry of Roads and Highways
                            </div> 
                            <div class="mb0-25">
                                Ministries, Accra.
                            </div> 
                            <div class="mb0-25">
                                Ghana
                            </div> 
                        </span>
                    </div>
                    <div class="flex flex-column items-center justify-center w-100 f0-75 tracked-tight">
                        <div class="flex justify-between w-75 h-100 mb2-00  ">
                            <a  href="" 
                                title="Get In Touch on WhatsApp" 
                                target="_blank" 
                                class="tc"
                                rel="noopener noreferrer">
                                
                                <address class="flex items-center justify-center 
                            
                                    pa0-50
                                    mb0-25 
                                    ba br5-00 b--white-90"> 
                                    <img src="{% static 'svgs/WhatsApp.svg' %}" 
                                        alt="WhatsApp" 
                                        class="w1-00 mr0-25" 
                                    />(+233) 302 683 871
                                </address>
                                
                            </a>
                            <a  href="" 
                                title="Get In Touch on WhatsApp" 
                                target="_blank" 
                                class="tc "
                                rel="noopener noreferrer">
                                
                                <address class="flex items-center justify-center ba br5-00 pa0-50
                                mb0-25 b--white-90"> 
                                    <img src="{% static 'svgs/WhatsApp.svg' %}" 
                                        alt="WhatsApp" 
                                        class="w1-00 mr0-25" 
                                    />(+233) 302 683 871
                                </address>
                                
                            </a>
                        </div>
                        <a  href="" 
                            title="Get In Touch on WhatsApp" 
                            target="_blank" 
                            class="tc w-50"
                            rel="noopener noreferrer">
                            
                            <p class="flex items-center justify-center  ba br5-00 pa0-50
                            mb0-25 b b--white-90"> 
                                {% comment %} <img src="{% static '_media/svgs/WhatsApp.svg' %}" change to email
                                    alt="WhatsApp" 
                                    class="w1-00 pa0-25" 
                                /> {% endcomment %}info@aesl.com 
                            </p>
                        </a>
                    </div>   
                </div>
            
            </section>
           
            <div id="" class="w-100">
                <p class="lh-copy w-100">
                    The Architectural & Engineering Services Limited (AES Ltd) is a practicing professional group of Consulting Architects, Civil, Structural, Electrical and Mechanical Engineers ,Land and Quantity Surveyors.
                </p>
                
             

                <p class="lh-copy">
                    To meet the needs of a broad range of clients, our practice has developed a multi-disciplinary approach to Building and Engineering Consultancy and to provide effective nation-wide coverage, we are located in all the ten regions of Ghana.
                </p>
               
            </div>
        </section>

        <section id="subscription"
            class="gr2s1 gr1s1-m gc1s12 
                w-100 gc10s3-m ba pb2-00"
        >
            <form class="ma0-50" action="">
                <fieldset class="flex flex-column justify-between pv1-00 h-100">
                    <legend class="ph0-50">
                        AESL NEWSLETTER
                    </legend>

                    <label for=""
                        class="dib mb1-00 w-100">Email:
                        <input class="w-100 pa0-50 mt1-00" 
                            type="text"
                            placeholder="Enter Your Email"
                        />
                    </label>
                    <label for=""
                        class="">
                        <input 
                            class="pa0-50 br0-25"
                            type="submit"
                            value="SUBSCRIBE">
                    </label>
                    
                </fieldset>
            </form>
        </section> 
        
        <nav id="navigation"
            class="grid gr3s2 gr1s1-m gc1s12 gc1s9-m
                items-start justify-between ggap0-50 
                w-100 ba pa0-50" 
            sections=""
        >
            <section id="footer__projects"  
                class = "gr1s1 gc1s12 gc1s6-s gc1s3-m
                    w-100"
                data-use-new="true" 
                role="tabpanel" 
                aria-label="projects" 
                section-index="2"
            >
                
                <header>
                    <h2 class="">
                        <a class="white-90" 
                            href="#projects"
                            role="button" 
                            aria-expanded="false"
                        >PROJECTS</a>
                    </h2>
                </header>
                
                <div 
                    class="" 
                    aria-hidden="False">
                    <a id="" 
                        role="button" 
                        tabindex="0"
                        title="pvt"
                    ></a>
                    <div id="" 
                        class="" 
                        data-use-new="true"
                    >
                        <nav aria-label="">
                            <ul class="flex flex-column items-center justify-center">
                                {% for project_category in project_categories_list %}
                                    <li class="w-100 ">
                                        <a href="{% url 'website:project-category-details' project_category.slug %}"
                                            class="white-90 dib mb0-50">
                                           {{ project_category.name}} 
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>  
                        </nav>
                    </div>
                </div>
            </section>

            <section id="footer__practice" 
                class="w-100 gr2s1 gr1s1-s gc1s12 gc7s6-s gc4s3-m" 
                data-use-new="true" 
                role="tabpanel" 
                aria-label="PRACTICE" 
                section-index="4"
            >
                <header>
                    <h2 class="">
                        <a  role="button" 
                            aria-expanded="false" 
                            href="#practice"
                            class="white-90"
                        >PRACTICE</a>
                    </h2>
                </header>

                <div class="" 
                    aria-hidden="False">
                    <a id="" 
                        role="button" 
                        tabindex="0"
                        title="practice"
                    ></a>
                    <div id=""
                        class=""  
                        data-use-new="true">
                        <nav aria-label="practice">
                            <ul class="">
                                <li class="mb1-00 ">
                                    <a  class="white-90" 
                                        href="{% url 'website:history' %}">History</a>
                                </li>
                                <li class="mb1-00 "><a  class="white-90" 
                                        href="{% url 'website:mandate' %}">Mandate</a></li>
                                <li class="mb1-00 "><a  class="white-90" 
                                        href="{% url 'website:functions' %}">Functions</a></li>
                                <li class="mb1-00 "><a  class="white-90" 
                                        href="{% url 'website:mission-vision-values' %}">Mission, Vision & Values</a></li>
                                <li class="mb1-00 "><a  class="white-90" 
                                        href="{% url 'website:sector-ministry' %}">Sector Ministry</a></li>
                                <li class="mb1-00 "><a  class="white-90" 
                                        href="{% url 'website:corporate-governance' %}">Corporate Governance</a></li>
                                <li class="mb1-00 "><a  class="white-90" 
                                        href="{% url 'website:management' %}">Management</a></li>
                                <li class="mb1-00 "><a  class="white-90" 
                                        href="{% url 'website:client-speak' %}">Client Speak</a></li>
                                <li class="mb1-00 "><a  class="white-90" 
                                        href="{% url 'website:alliances' %}">Alliances</a></li>
                                <li class="mb1-00 "><a  class="white-90" 
                                        href="{% url 'website:corporate-responsibilities' %}">Corporate Responsibility</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
            
            <section id="footer__principles" 
                class="w-100 gr3s1 gr2s1-s gr1s1-m gc1s12 gc1s6-s gc7s3-m" 
                data-use-new="true" 
                role="tabpanel" 
                aria-label="principles" 
                section-index="3"
            >
                <header>
                    <h2 class="">
                        <a  role="button" 
                            aria-expanded="false" 
                            href="#principles"
                            class="white-90"
                        >PRINCIPLES</a>
                    </h2>
                </header>
                <div class="" 
                    aria-hidden="False">
                    <a id="" 
                        role="button" 
                        tabindex="0"
                        title="principles"
                    ></a>
                    <div  id="" 
                        class=""
                        data-use-new="true">
                        <div class="">
                            <nav aria-label="">
                                <ul class="">
                                    <li class="mb1-00 "><a  class="white-90" 
                                            href="{% url 'website:principles-civic' %}"> Civic</a></li>
                                    <li class="mb1-00 "><a  class="white-90" 
                                            href="{% url 'website:principles-professionalism' %}">Professionalism</a></li>
                                    <li class="mb1-00 "><a  class="white-90" 
                                            href="{% url 'website:principles-excellence' %}">Excellence</a></li>
                                    <li class="mb1-00 "><a  class="white-90" 
                                            href="{% url 'website:principles-integrity-and-honesty' %}">Integrity and Honesty</a></li>
                                    <li class="mb1-00 "><a  class="white-90" 
                                            href="{% url 'website:principles-timeliness-and-cost-effectiveness' %}">Timeliness and Cost Effectiveness</a></li>
                                    <li class="mb1-00 "><a  class="white-90" 
                                            href="{% url 'website:principles-sustainability' %}">Sustainability</a></li>
                                    <li class="mb1-00 "><a  class="white-90" 
                                            href="{% url 'website:principles-empowerment' %}">Empowerment</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="footer__people" 
                class="w-100 gr4s1 gr2s1-s gr1s1-m gc1s12 gc7s6-s gc10s3-m" 
                data-use-new="true" 
                role="tabpanel" 
                aria-label="people" 
                section-index=""
            >
                <div 
                    class="dn">
                    PEOPLE
                </div>

                <header>
                    <h2 class="">
                        <a  role="button" 
                            aria-expanded="false" 
                            href="#"
                            class="white-90"
                        >PEOPLE</a>
                    </h2>
                </header>
                <div class="" aria-hidden="False">
                    <a  id="" 
                        role="button" 
                        tabindex="0"
                        href=""
                        title="people"
                    ></a>
                    <div id=""
                        class=""  
                        data-use-new="true"
                    >
                        <div class="">
                            <nav aria-label="">
                                <ul class="">
                                    <li class="mb1-00 "> 
                                        <a  class="white-90" 
                                            href="{% url 'website:principal-consultants' %}">Principal Consultants</a>
                                    </li>
                                    <li class="mb1-00 "> 
                                        <a  class="white-90" 
                                            href="{% url 'website:senior-consultants' %}">Senior Consultants</a>
                                    </li>
                                    <li class="mb1-00 "> 
                                        <a  class="white-90" 
                                            href="{% url 'website:consultants' %}">Consultants</a>
                                    </li>
                                    <li class="mb1-00 "> 
                                        <a  class="white-90" 
                                            href="{% url 'website:senior-professionals' %}">Senior Professionals</a>
                                    </li>
                                    <li class="mb1-00 "> 
                                        <a  class="white-90" 
                                            href="{% url 'website:professionals' %}">Professionals</a>
                                    </li>
                                    <li class="mb1-00 "> 
                                        <a  class="white-90" 
                                            href="{% url 'website:assistant-professionals' %}">Assistant Professionals</a>
                                    </li>
                                    <li class="mb1-00 "> 
                                        <a  class="white-90" 
                                             href="{% url 'website:probationers' %}">Probationers</a>
                                    </li>
                                    <li class="mb1-00 "> 
                                        <a  class="white-90" 
                                             href="{% url 'website:national-service-personnels' %}">National Service Personnels</a>
                                    </li>
                                    <li class="mb1-00 "> 
                                        <a  class="white-90" 
                                             href="{% url 'website:supporting-team' %}">Support Team</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>

        </nav> 

        <section id="recents" 
            class="gr5s1  gc1s12 gc10s3-m gr2s1-m
               w-100 flex flex-column " 
            data-use-new="true" 
            role="tabpanel" 
            aria-label="people" 
            section-index=""
        >
            <div 
                class="grid gtc2 ggap1-00 h-100" 
                aria-hidden="False">
                
                <div id=""
                    class=" br1-00 gr1s1 gc1s2 gr1s1-s gc1s1-s "  
                    data-use-new="true"
                >                    
                    <figure class="grid items-center justify-center">
                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}" 
                            alt=""
                            class="w-100 br0-50 gc1s1 gr1s1">
                        <figcaption class="gc1s1 gr1s1 tc bg-gradient1TB h-100 gold">
                            Recent Projects
                        </figcaption>
                    </figure> 

                </div>

                <div id=""
                    class=" br1-00 gr2s1 gc1s2 gr1s1-s gc2s1-s"  
                    data-use-new="true"
                >          
                   <figure class="grid items-center justify-center">
                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}" 
                            alt=""
                            class="br0-50 gc1s1 gr1s1">
                        <figcaption class="gc1s1 gr1s1 tc bg-gradient1TB h-100 gold">
                            Recent News
                        </figcaption>
                    </figure>     
                </div>

                <div id=""
                    class=" br1-00 gr3s1 gc1s2 gr2s1-s gc1s1-s"  
                    data-use-new="true"
                >
                    <figure class="grid items-end justify-center">
                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}" 
                            alt=""
                            class="w-100 br0-50 gc1s1 gr1s1">
                        <figcaption class="gc1s1 gr1s1 tc bg-gradient1TB h-100 gold">
                            Recent Publication
                        </figcaption>
                    </figure> 
                </div>

                <div id=""
                    class=" br1-00 gr4s1 gc1s2 gr2s1-s gc2s1-s"  
                    data-use-new="true"
                >
                    <figure class="grid items-center justify-center">
                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}" 
                            alt=""
                            class="w-100 br0-50 gc1s1 gr1s1">
                        <figcaption class="gc1s1 gr1s1 tc bg-gradient1TB h-100 gold">
                            Recent social feeds
                        </figcaption>
                    </figure>  
                </div>
            </div>
        </section>
    </div> 
</div>