{% load static %}
<div id="page-footer" 
    class="flex
    w-100 min-vh-100
    pa1-00
    bg-blue0
    white-90"
>
    <div id="container" 
        class=" grid gtc12 ggap1-00
            w-100"      
        tabindex="0" 
        title="" 
        aria-label=""
    >
        <section id="description_and_address"
            class="gr2s1 gc1s12 ggap1-00
                flex flex-column flex-row-s flex-start ggap2-00 
                w-100
                f1-00 tj"
        >
            {% include 'components/molecules/m__mainFooterAESLAddress.html' %}
            {% include 'components/molecules/m__mainFooterMWHAddress.html' %}
        </section>

        <section id="o_subscription"
            class="gr3s1 gc1s12 gc1s6-m
                w-100 h-100"
        >
            {% include 'components/molecules/m__mainFooterSubscriptionForm.html' %}
        </section> 
        
        <section id="o_navigation"
            class="gr1s1 gc1s12"
            sections=""
        >
            {% include 'components/molecules/m__mainFooterFooterNav.html' %}
        </section> 

        <section id="o_links" 
            class="gr5s1 gc1s12 gc7s6-m gr3s1-m
               w-100 flex flex-column " 
            data-use-new="true" 
            role="tabpanel" 
            aria-label="people" 
            section-index=""
        >
            {% include 'components/molecules/m__mainFooterProfessionalInstitutions.html' %}
            {% include 'components/molecules/m__mainFooterRecents.html' %}
        </section>
    </div> 
</div>
