{% extends 'base_layout.html' %}
{% load static %}

{% block pagetitle %} 
    Practice - Functions
{% endblock pagetitle %}

{% block custom_css %} 

{% endblock custom_css %}

{% block scripts %}   

{% endblock scripts %}

{% block content %}
    <!-- main Body Start -->
    {% block pagecontent %}
        <!-- Page Header -->
        <header 
            class="grid gtc12
            bg-white ">
            <figure class="gc1s12">
                <img src="{% static '_images\practice\functions\sod_cutting.jpg' %}"          
                    alt=""
                    class="w-100 vh-60 cover">
            </figure>
            <hgroup class="w-100 blue0 gc1s12">
                <h2 class="
                    ph1-00 pb0-50 mb0-00
                    f5-00 ttu
                    ">
                    Functions
                </h2>
                   
            </hgroup> 
            <!-- Page Navigation -->
            {% include 'website\practice\_partials\practice-page-nav.html' %} 
            <!-- Page Navigation -->
        </header>
        <!-- Page Header -->
        <!-- Page Main -->
        <main class="ph1-00">
            <div class="grid gtc4">

                <div id="pageDetails"
                    class="gc1s3
                        mb1-00 min-vh-100"
                >   
                    <main class="lh-copy blue0 ">
                        <!-- Mission Start -->
                        <div id="functions--01"
                            class="grid gtc12 ggap1-00
                            
                                mb3-00"
                        >
                            <header id="functions--overview"
                                class="gr1s1 gc2s10 w-100"
                            >
                                <hgroup id=""
                                    class=""
                                >
                                    <p class="mv4-00 
                                        f1-50 tj"
                                    >
                                        The Architectural and Engineering Services Corporation (AESC) as it was then called, was established in 1973 under the National Redemption Council Decree (NRCD) 193 to take over the consultancy functions of the then Public Works Department (PWD). The objects of the Corporation were:
                                    </p>     
                                </hgroup> 
                            </header>
                            <article id="functions--01" 
                                class="gr2s1 gc1s12 
                                    grid gtc12 ggap1-00"
                            >   
                                <div id ="" 
                                    class="gr1s1 gc7s6  
                                        grid items-center justify-center 
                                        f1-25"
                                >
                                    <p class="mb0-00">
                                        To investigate, survey, design, administration and management both in Ghana and elsewhere of all kinds of architectural and engineering consultancy works, whether public or private including the design of houses, highways, airfields, bridges, harbour, water supplies and sewerage systems, soils and foundations investigation;
                                    </p>
                                </div>
                            
                                <div id=""
                                    class="gr1s1 gc1s6
                                        ggap1-00"
                                >
                                    <article id="" 
                                        class="
                                            flex flex-column items-center justify-center"
                                    >
                                        <figure>
                                            <img src="{% static '_images\_partials\backgrounds\02.jpg' %}"
                                                alt=""
                                                class="
                                                    w-100 h-100
                                                    cover"
                                            /> 
                                        </figure>
                                    </article>
                                </div>
                            
                            </article>
                        </div>
                        <!-- Mission End -->
            
                        <!-- Vision Start -->
                        <div id="functions--02"
                            class="grid gtc12 ggap1-00
                                mb3-00"
                        >
                            <article id="Project_Overview_1" 
                                class="gr2s1 gc1s12 grid gtc12 ggap1-00"
                            >   
                                <div class="gc7s6 gr1s1 f1-25 grid items-center justify-center">
                                    <p>
                                        To undertake the testing of construction materials, surveying and mapping, valuation and appraisal of property, and design of irrigation works; 
            
                                    </p>
                                </div>
                                
                                <!-- Practice -->
                                <div id="practice"
                                    class="gr1s1 gc1s6
                                    ggap1-00">
                                    
                                    <article id="" 
                                        class="gr1s1 gc1s12
                                        flex items-center justify-center
                                        relative">
                                        <figure >
                                            <img src="{% static '_images\practice\_partials\practice_2.jpg' %}"            
                                                alt=""
                                                class="
                                                    w-100 h-100
                                                    cover"
                                                /> 
                                        </figure>
                                    </article>
                                
                                    <article id="misc_gold" 
                                        class="gr3s1 gc6s1
                                            flex items-center justify-center
                                            bg-gold
                                            ">
                                    </article>
                                
                                    <article id="misc_blue" 
                                        class="gr2s1 gc6s3
                                            flex items-center justify-center
                                            bg-black-90
                                            ">
                                    </article>
                                    <!-- Practice -->
                                </div>
                                <!-- Practice -->
                            </article>
                        </div>
                        <!-- Vision End -->
            
                        <!-- Values Start -->
                        <div id="functions--03"
                            class="grid gtc12 ggap1-00
                                
                                mb3-00"
                        >
                            <article id="values_" 
                                class="gr2s1 gc1s12 grid gtc12 ggap1-00"
                            >   
                                <div class="gc7s6 gr1s1 f1-25 grid items-center justify-center">
                                    <p>
                                        To carry out such other activities as appear to the Corporation to be conducive or incidental to the attainment of all or any of the foregoing objects To provide consultancy services in respect of all works required by or on behalf of the Government in the fields of engineering, building and architecture, urban and regional planning and development;
            
                                    </p>
                                </div>
                                
                                <!-- Practice -->
                                <div id="practice"
                                    class="gr1s1 gc1s6
                                    ggap1-00">
                                    <article id="proposed_apartment_2" 
                                        class="gr2s2 gc2s10
                                        flex items-center justify-center
                                        relative">
                                        <figure class="shadow-5">
                                            <img src="{% static '_images\projects\residential\hostel_takoradi2.jpg' %}"            
                                                alt=""
                                                class="w-100
                                                    "
                                                /> 
                                        </figure>
                                    </article>
                                    <article id="misc_gold" 
                                        class="gr3s1 gc6s1
                                            flex items-center justify-center
                                            bg-gold
                                            ">
                                    </article>
                                    <article id="misc_blue" 
                                        class="gr2s1 gc6s3
                                            flex items-center justify-center
                                            bg-black-90
                                            ">
                                    </article>
                                    <!-- Practice -->
                                </div>
                                <!-- Practice -->
                            </article>
                            
                        </div>
                        <!-- Values End -->
            
                        <!-- Vision Start -->
                        <div id="functions--04"
                            class="grid gtc12 ggap1-00
                                
                            "
                        >
                            <article id="Project_Overview_1" 
                                class="gr2s1 gc1s12 grid gtc12 ggap1-00"
                            >   
                                <div class="gc7s6 gr1s1 f1-25 grid items-center justify-center">
                                    <p>
                                        To carry out technical studies in planning, designing as well as the supervision of such infrastructural works as will assist the economic and social development of the country;
                                    </p>
                                </div>
                                
                                <!-- Practice -->
                                <div id="practice"
                                    class="gr1s1 gc1s6
                                    ggap1-00">
                                    
                                    <article id="" 
                                        class="gr1s1 gc1s12
                                        flex items-center justify-center
                                        relative">
                                        <figure >
                                            <img src="{% static '_images\practice\_partials\practice_2.jpg' %}"            
                                                alt=""
                                                class="
                                                    w-100 h-100
                                                    cover"
                                                /> 
                                        </figure>
                                    </article>
                                
                                    <article id="misc_gold" 
                                        class="gr3s1 gc6s1
                                            flex items-center justify-center
                                            bg-gold
                                            ">
                                    </article>
                                
                                    <article id="misc_blue" 
                                        class="gr2s1 gc6s3
                                            flex items-center justify-center
                                            bg-black-90
                                            ">
                                    </article>
                                    <!-- Practice -->
                                
                                </div>
                                <!-- Practice -->
                            </article>
            
                            <footer id="page_footer"
                                class="gr3s1 gc1s12 pa1-00 bg-gray w-100 i">
                                Practice || Functions
                            </footer>
                        </div>
                        <!-- Vision End -->
                    </main>
                </div>

                <div id="pageNav" 
                    class="gc4s1 
                        w-100 blue0 relative">
                    <div class="flex flex-column justify-between
                        min-vh-100 
                        ph2-00 pb1-00
                        pt5-00
                        sticky top-0"
                    >
                    
                        <ul class="mb1-00 bl bw4 pl2-00">
                            <h3 >Page Sections</h3>
                            <li class="mb1-00">Overview</li>
                            <li class="mb1-00">Core Functions</li>
                        </ul> 
                        <div class="h6-00" >
                            <small>Previous</small> </br>
                            <a href="{% url 'website:mandate' %}" class="mb1-00 blue0 f0-75 b">AESL Mandate</a><br><br>
                            <small>Next</small> </br>
                            <a href="{% url 'website:mission-vision-values' %}" class="mb1-00 blue0 f0-75 b">AESL Mission, Vision and Values</a> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
        <!-- Page Main -->
        <!-- Page Main -->
        
        <!-- Page Main --> 
    {% endblock pagecontent %}
        <!-- 00.00   main Body -->
    </main> 
{% endblock content %}