{% extends 'base_layout.html' %}
{% load static %}

{% block pagetitle %} 
    Practice - History
{% endblock pagetitle %}

{% block custom_css %} 

{% endblock custom_css %}

{% block scripts %}   

{% endblock scripts %}

{% block content %}
    <!-- main Body Start -->
        {% block pagecontent %}
            <!-- Page Header -->
            <header id ="history-page-header"
                class="grid gtc12
                    bg-white "
            >   <!-- Page Banner Start -->
                <figure class="gc1s12">   
                    <img src="{% static '_images\practice\history\History-01.JPG' %}"          
                        alt=""
                        class="w-100 vh-60 cover">
                </figure>
                <!-- Page Banner End -->

                <!-- Page Dashboard Start -->
                <hgroup class="w-100 blue0 gc1s12">
                    <h2 class="
                        w-100 h-100
                        ph1-00 pb0-50 mb0-00
                        f5-00 ttu"
                    >
                        History
                    </h2>     
                   
                </hgroup> 
                <!-- Page Dashboard End -->
                   
                <!-- Page Navigation -->
                    {% include 'website\practice\_partials\practice-page-nav.html' %}
                <!-- Page Navigation -->
            </header>
            <!-- Page Header -->

            <!-- Page Main -->
            <main id="pageContent_History" 
                class="ph1-00"
            >
                <div id="l_3:1" 
                    class="grid gtc4"
                >
                    <!-- AESL History Start -->
                    <div id="lc_gc1s3__pageMain--history"
                        class="gc1s3
                            min-vh-100"
                    >   
                        <div id="history"
                            class="grid gtc12 ggap1-00
                                mb1-00
                                blue0"
                        >
                            <section id="" 
                                class="gr1s1 gc2s10"
                            >   
                                <div class="mv6-00 lh-copy tj f1-25">
                                    <p>
                                        The Public Works Department (PWD) established by the British was used for all state works over decades post-colonial.
                                    </p>
                                    <p>
                                        The institutions like State Construction Corporation (SCC), State Housing Corporation (SHC), Highways.
                                    </p>
                                    <p>
                                        No privates businesses were allowed to handle state/ public works except the PWD.
                                    </p>
                                    <p>
                                        The Public Works Department (PWD) established by the British was used for all state works over decades post-colonial.
                                    </p>
                                    <p>
                                        The institutions like State Construction Corporation (SCC), State Housing Corporation (SHC), Highways.
                                    </p>
                                    <p>
                                        No privates businesses were allowed to handle state/ public works except the PWD.
                                </div>
                            </section>
                            <section id="" 
                                class="gr2s1 gc1s12"
                            >     
                                <div class="grid ggap1-00 ">
                                    <figure class="shadow-5 w-100 flex items-center justify-center items-center">
                                        <img src="{% static '_images\practice\history\History-02.JPG' %}"            
                                        alt=""
                                        class="pa0-50 w-60"
                                    /> 
                                    </figure>
                                    <div class="mv2-00">
                                        <p>
                                            The Public Works Department (PWD) established by the British was used for all state works over decades post-colonial.
                                        </p>
                                        <p>
                                            The institutions like State Construction Corporation (SCC), State Housing Corporation (SHC), Highways.
                                        </p>
                                        <p>
                                            No privates businesses were allowed to handle state/ public works except the PWD.
                                        </p>
                                        <p>
                                            The Public Works Department (PWD) established by the British was used for all state works over decades post-colonial.
                                        </p>
                                        <p>
                                            The institutions like State Construction Corporation (SCC), State Housing Corporation (SHC), Highways.
                                        </p>
                                        <p>
                                            No privates businesses were allowed to handle state/ public works except the PWD.
                                        </p>
                                    </div>
                                </div>
                                
                                <div id=""
                                    class="gr3s1 gc1s12
                                            grid gtc12 ggap1-00
                                            min-vh-100
                                            white-90 mv2-00"
                                >
                                    <article id="history_1" 
                                        class="gr1s1 gc1s6 grid
                                            flex items-center justify-center
                                            relative"
                                    >
                                        {% comment %} <hgroup id = "id ="""
                                            class="gr1s1 gc1s1 items-center justify-start
                                                pa1-00 ma2-00
                                                white-90 bg-blue0 br0-50 absolute"                                  
                                        >   
                                            <h4 id=""
                                                class="ma0-00 bb"
                                            >
                                                History 1
                                            </h4>
                                            <h5 id=""
                                                class="bb pa0-50 mb0-00 f1-00">
                                                Quarterly Meeting 
                                            </h5>
                                            <h6 id="" class ="mb2-00">
                                                This is the one we are editing consectetur adipisicing elit diting consectetur adipisicing elit.
                                            </h6>
                                            <small>Royal Senchi, Akosombo.</small>    
                                        </hgroup> {% endcomment %}
                                        <figure class="shadow-5">
                                            <img src="{% static '_images\practice\history\History-01.JPG' %}"            
                                                alt=""
                                                class="
                                                    w-100 h-100
                                                    pa0-50
                                                    cover"
                                                /> 
                                        </figure>
                                    </article>
                                    
                                    <article id="history_4" 
                                        class="gr1s1 gc7s6
                                            flex items-center justify-center
                                            relative"
                                    >
                                        <figure class="shadow-5">
                                            <img src="{% static '_images\practice\history\History-01.JPG' %}"            
                                                alt=""
                                                class="pa0-50"
                                            /> 
                                        </figure>
                                        {% comment %} <hgroup id = "id ="""
                                            class="gr1s1 gc1s1 items-center justify-start
                                                pa1-00 ma2-00
                                                white-90 bg-blue0 br0-50 absolute"                                  
                                        >   
                                            <h4 id=""
                                                class="ma0-00 bb"
                                            >
                                                History 4
                                            </h4>
                                            <h5 id=""
                                                class="bb pa0-50 mb0-00">
                                                Quarterly Meeting 
                                            </h5>
                                            <h6 id="" class ="mb2-00">
                                                This is the one we are editing consectetur adipisicing elit diting consectetur adipisicing elit.
                                            </h6>
                                            <small>Royal Senchi, Akosombo.</small>    
                                        </hgroup> {% endcomment %}
                                    </article>
                                
                                    <article id="history_2" 
                                        class="gr2s2 gc1s6 pa1-00
                                        flex items-center justify-center
                                        relative"
                                    >
                                        {% comment %} <hgroup id = "id ="""
                                            class=" items-center justify-start
                                                pa1-00 w-100
                                                white-90 bg-blue0 br0-50"                                  
                                        >   
                                            <h3 id=""
                                                class="ma0-00 bb"
                                            >
                                                History 2
                                            </h3>
                                            <h4 id=""
                                                class="bb pa0-50 mb0-00 f1-00">
                                                Quarterly Meeting 
                                            </h4>
                                            <p id="" class ="mb2-00">
                                                This is the one we are editing consectetur adipisicing elit diting consectetur adipisicing elit.
                                            </p>
                                            <small>Royal Senchi, Akosombo.</small>    
                                        </hgroup> {% endcomment %}
                                        <figure class="shadow-5 w-100">
                                            <img src="{% static '_images\practice\history\History-01.JPG' %}"            
                                            alt=""
                                            class="pa0-50"
                                        /> 
                                        </figure>
                                    </article>
                                
                                    <article id="history_3" 
                                        class="gr3s1 gc7s6
                                            flex items-center justify-center
                                            relative"
                                    >
                                        {% comment %} <hgroup id = "id ="""
                                            class="
                                                gc1s1 
                                                pa1-00 ma2-00
                                                white-90 bg-blue0 br0-50 absolute"                                  
                                        >   
                                            <h3 id=""
                                                class="ma0-00 bb"
                                            >
                                                History 3
                                            </h3>
                                            <h4 id=""
                                                class="bb pa0-50 mb0-00 f1-00">
                                                Quarterly Meeting 
                                            </h4>
                                            <p id="" class ="mb2-00">
                                                This is the one we are editing consectetur adipisicing elit diting consectetur adipisicing elit.
                                            </p>
                                            <small>Royal Senchi, Akosombo.</small>    
                                        </hgroup> {% endcomment %}
                                        <figure class="shadow-5">
                                            <img src="{% static '_images\practice\history\History-01.JPG' %}"            
                                                alt=""
                                                class="w-100 h-100
                                                cover pa0-50
                                                ba b--gold"
                                            /> 
                                        </figure>
                                    </article>
                                    <!-- Practice -->
                                </div>
                                <div id=""
                                    class="gr3s1 gc1s12
                                        grid gtc12 ggap1-00
                                        min-vh-10
                                        white-90"
                                >
                                    <article id="misc_gold" 
                                        class="gr1s1 gc5s2
                                            flex items-center justify-center
                                            bg-gray
                                            "
                                    >
                                    </article>
                                
                                    <article id="misc_blue" 
                                        class="gr1s1 gc1s4
                                            flex items-center justify-center
                                            bg-black-90"
                                    >
                                    </article>
                                </div>
                            </section>
                            <footer class="gr3s1 gc1s12 pa1-00 white-90 bg-gray w-100 i">
                                Practice || History
                            </footer>
                        </div>
                    </div>
                    <!-- AESL History End -->

                    <!-- AESL History Aside  Start -->
                    <div gid="lc_c4s1__pageAside--history" 
                        class="gc4s1 
                            blue0 relative"
                    >
                        <div class="flex flex-column justify-between
                            min-vh-100 
                            pa1-00 pt6-00
                            sticky top-0"
                        >
                            <div>
                                <a href= {% url 'website:practice-home' %}
                                    class="dib mb1-00 
                                        f1-25 blue0 ttu fw6">Back to Practice
                                </a>
                                <ul class="mb1-00 bl bw4 pa1-00 b--gray gray f0-75">
                                    <h3 >History</h3>
                                    <li class="mb1-00 i">
                                        <a herf=""
                                            class="gray"
                                        >
                                        AESL History
                                        </a>
                                    </li>
                                    <li class="mb1-00 i">
                                        <a herf=""
                                            class="gray"
                                        >
                                        AESL History Gallery
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mb1-00 gray" >
                                 {% comment %} <small>Previous</small> </br>
                               <a href="{% url 'website:mission-vision-values' %}" class="mb1-00 blue0 f0-75 b">AESL Mission, Vision and Values</a> <br><br> {% endcomment %}
                                <small>Next</small> </br>
                                <a href="{% url 'website:mandate' %}" class="mb1-00 gray f0-75 b">AESL Mandate</a>
                            </div>
                        </div>
                    </div>
                    <!-- AESL History Aside  End -->
                </div>
            </main>
            <!-- Page Main --> 
           
            
        {% endblock pagecontent %}
    <!-- main Body End --> 
{% endblock content %}