{% extends 'base_layout.html' %}
{% load static %}

{% block title %} 
    Practice - Services
{% endblock title %}

{% block pagetitle %} 
    Practice - Services
{% endblock pagetitle %}

{% block custom_css %} 

{% endblock custom_css %}

{% block scripts %}   

{% endblock scripts %}

{% block content %}
    <!-- main Body Start -->
    {% block pagecontent %}
        <!-- Page Header -->
        <header 
            class="grid gtc12
            ">
            <figure class="gc1s12">
                <img src="{% static '_images\practice\client_speak\01.jpeg' %}"          
                    alt=""
                    class="w-100 vh-60 cover">
            </figure>
            <hgroup class="w-100 blue0 gc1s12">
                <h2 class=" ph1-00 pb0-50 mb0-00
                f5-00 ttu
                    ">
                    Services
                </h2>     
            </hgroup>
            <!-- Page Navigation -->
            {% include 'website\practice\_partials\practice-page-nav.html' %}
            <!-- Page Navigation -->

        </header>
        <!-- Page Header -->

        <!-- Page Main -->
            <main class="ph1-00">
                <div class="grid gtc4">

                    <div id="pageDetails"
                        class="gc1s3
                            mb1-00 min-vh-100"
                    >   
                        <!-- Practice client_Speak -->
                        <div id="services"
                            class="grid gtc12 ggap1-00
                                
                                "
                        >
                            <header id="services--overview"
                                class="gr1s1 gc2s10 w-100"
                            >
                                
                                    <p class="mv4-00 
                                        f1-50 tj"
                                    >
                                        The Architectural and Engineering Services Corporation (AESC) as it was then called, was established in 1973 under the National Redemption Council Decree (NRCD) 193 to take over the consultancy functions of the then Public Works Department (PWD). The objects of the Corporation were:
                                    </p>     
                              
                            </header>
                            <article id="Project_Overview_1" 
                                class="gr2s1 gc1s12"
                            >
                                <!-- Services Start -->
                                <div id="services--architecture" 
                                    class="mb6-00">
                                    <div id="4x4_Grid_services"
                                        class="grid gtc12 ggap1-00"
                                    >
                                        <article id="services__urbanPlanning"
                                            class="gr1s1 gc1s3
                                                grid items-center justify-center
                                                white-90"
                                        >
                                            <a href="javascript:void()"
                                                class = ""  
                                            >
                                                <figure class="shadow-5 bg-red grid  items-center justify-center">
                                                    <img src="{% static '_images\placeholders\portrait\portrait-1.png' %}"            
                                                        alt=""
                                                        class="br0-50 br0-50 gc1s1 gr1s1 "
                                                    /> 
                                                    <figcaption id = ""
                                                        class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                            h-100 w-100
                                                            pa1-00
                                                            bg-blue0-50
                                                            f0-75
                                                            white-90 tc
                                                            
                                                                ">
                                                        <h3 class="blue0 bg-white ba dib pa0-50 mb0-00 f1-00">
                                                            Urban Planning
                                                        </h3>    
                                                        
                                                    </figcaption>
                                                </figure> 
                                            </a>
                                        </article>
                                        
                                        <article id="service__buildingDesign"
                                            class="gr1s1 gc4s3
                                            grid items-center justify-center
                                            white-90"      
                                        >
                                            <a href="javascript:void()"
                                                class = ""  
                                            >    
                                                <figure class="shadow-5 bg-gold grid  items-center justify-center">
                                                    <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                                        alt=""
                                                        class="br0-50 gc1s1 gr1s1 "
                                                    /> 
                                                    <hgroup id = ""
                                                        class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                        
                                                            pa1-00
                                                            bg-blue0-50
                                                            f0-75
                                                            white-90 tc
                                                            
                                                                ">
                                                        <h3 class="blue0 bg-white ba pa0-50 mb0-00 f1-00">
                                                            Building Design
                                                        </h3>    
                                                        
                                                    </hgroup>
                                                </figure>
                                            </a> 
                                        </article>

                                        <article id="landscapeDesign" 
                                            class="gr2s1 gc4s3
                                            grid items-center justify-center
                                        "
                                        >
                                            <a href="javascript:void()"
                                                    class = ""  
                                                >
                                                <figure class="shadow-5 bg-black grid  items-center justify-center">
                                                    <img src="{% static '_images\placeholders\portrait\portrait-1.png' %}"            
                                                        alt=""
                                                        class="br0-50 gc1s1 gr1s1 "
                                                    /> 
                                                    <hgroup id = ""
                                                        class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                            
                                                            pa1-00
                                                            bg-blue0-50
                                                            f0-75
                                                            tc
                                                            
                                                                ">
                                                        <h3 class="blue0 bg-white ba dib pa0-50 mb0-00 f1-00">
                                                            Landscape Design
                                                        </h3>    
                                                        
                                                    </hgroup>
                                                </figure>
                                            </a>
                                        </article> 
                                            
                                        <article id="interiorDesign" 
                                            class="gr2s1 gc1s3
                                                grid items-center justify-center
                                                
                                                "
                                        >
                                            <a href="javascript:void()"
                                            class = ""  
                                            >
                                                <figure class="shadow-5 bg-blue0 grid  items-center justify-center">
                                                    <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                                        alt=""
                                                        class="br0-50 gc1s1 gr1s1 "
                                                    /> 
                                                    <hgroup id = ""
                                                        class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                            
                                                            pa1-00
                                                            bg-blue0-50
                                                            f0-75
                                                            white-90 tc"
                                                    >
                                                        <h3 class="blue0 bg-white ba dib pa0-50 mb0-00 f1-00">
                                                            interior Design
                                                        </h3>    
                                                    </hgroup>
                                                </figure>
                                            </a>        
                                        </article>
                        
                                        <article id="" 
                                            class="gr1s2 gc7s6
                                                grid
                                                "
                                        >
                                            <figure class="shadow-5  grid  items-center justify-center">
                                                <hgroup id = ""
                                                    class="gr1s1 gc1s1 flex flex-column items-center justify-between
                                                        
                                                        ph4-00 pv4-00
                                                        blue0
                                                        f1-25
                                                        tc
                                                        
                                                            ">
                                                    <h1 class = "blue0 f2-00 mv1-00">
                                                        Architectural Services
                                                    </h1>
                                                    <p class="lh-copy mb2-00">Our Architectural designs promotes ideas that fosters unity between the client’s project needs and budget. It’s the philosophy of our architecture to define space that not only satisfies the shelter needs for habitation and business but also meets sustainable design goals in the context of the cityscape.
                                                        </p>  
                                                    <a  href="{% url 'website:projects-home' %}"
                                                        class="blue0 ba br0-25 dib pa0-50 f1-00"
                                                    >
                                                        EXPLORE 
                                                    </a>   
                                                </hgroup> 
                                            </figure>
                                        </article>
                                    </div>
                                </div>
                                
                                <div id="services--engineering" 
                                    class="mb6-00"
                                >
                                    <div id="4x4_Grid_services"
                                        class="grid gtc12 ggap1-00"
                                    >
                                        <article id="services__civil__structural__design"
                                            class="gr1s1 gc7s3
                                                grid items-center justify-center
                                                white-90"
                                        >
                                            <a href="javascript:void()"
                                                class = ""  
                                            >
                                                <figure class="shadow-5 bg-red grid  items-center justify-center">
                                                    <img src="{% static '_images/placeholders/regular_images/square-01.png' %}"            
                                                        alt=""
                                                        class="br0-50 br0-50 gc1s1 gr1s1 "
                                                    /> 
                                                    <figcaption id = ""
                                                        class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                            h-100 w-100
                                                            pa1-00
                                                            bg-blue0-50
                                                            f0-75
                                                            white-90 tc
                                                            
                                                                ">
                                                        <h3 class="blue0 bg-white ba dib pa0-50 mb0-00 f1-00">
                                                            Civil/Structural Design
                                                        </h3>    
                                                        
                                                    </figcaption>
                                                </figure> 
                                            </a>
                                        </article>
                                        
                                        <article id="service__installations"
                                            class="gr1s1 gc10s3
                                            grid items-center justify-center
                                            white-90"      
                                        >
                                            <a href="javascript:void()"
                                                class = ""  
                                            >    
                                                <figure class="shadow-5 bg-gold grid  items-center justify-center">
                                                    <img src="{% static '_images/placeholders/regular_images/square-01.png' %}"            
                                                        alt=""
                                                        class="br0-50 gc1s1 gr1s1 "
                                                    /> 
                                                    <hgroup id = ""
                                                        class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                        
                                                            pa1-00
                                                            bg-blue0-50
                                                            f0-75
                                                            white-90 tc
                                                            
                                                                ">
                                                        <h3 class="blue0 bg-white ba pa0-50 mb0-00 f1-00">
                                                            Installations
                                                        </h3>    
                                                        
                                                    </hgroup>
                                                </figure>
                                            </a> 
                                        </article>

                                        <article id="services__water" 
                                            class="gr2s1 gc10s3
                                            grid items-center justify-center
                                        "
                                        >
                                            <a href="javascript:void()"
                                                    class = ""  
                                                >
                                                <figure class="shadow-5 bg-black grid  items-center justify-center">
                                                    <img src="{% static '_images/placeholders/regular_images/square-01.png' %}"            
                                                        alt=""
                                                        class="br0-50 gc1s1 gr1s1 "
                                                    /> 
                                                    <hgroup id = ""
                                                        class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                            
                                                            pa1-00
                                                            bg-blue0-50
                                                            f0-75
                                                            tc
                                                            
                                                                ">
                                                        <h3 class="blue0 bg-white ba dib pa0-50 mb0-00 f1-00">
                                                            Water
                                                        </h3>    
                                                        
                                                    </hgroup>
                                                </figure>
                                            </a>
                                        </article> 
                                            
                                        <article id="services__geoTechnical" 
                                            class="gr2s1 gc7s3
                                                grid items-center justify-center
                                                
                                                "
                                        >
                                            <a href="javascript:void()"
                                            class = ""  
                                            >
                                                <figure class="shadow-5 bg-blue0 grid  items-center justify-center">
                                                    <img src="{% static '_images/placeholders/regular_images/square-01.png' %}"            
                                                        alt=""
                                                        class="br0-50 gc1s1 gr1s1 "
                                                    /> 
                                                    <hgroup id = ""
                                                        class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                            
                                                            pa1-00
                                                            bg-blue0-50
                                                            f0-75
                                                            white-90 tc"
                                                    >
                                                        <h3 class="blue0 bg-white ba dib pa0-50 mb0-00 f1-00">
                                                            Geo-Technical
                                                        </h3>    
                                                    </hgroup>
                                                </figure>
                                            </a>        
                                        </article>
                        
                                        <article id="services__engineering__description" 
                                            class="gr1s2 gc1s6
                                                grid
                                                "
                                        >
                                            <figure class="shadow-5  grid  items-center justify-center">
                                                <hgroup id = ""
                                                    class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                        mv4-00
                                                        ph4-00
                                                        blue0
                                                        f1-25
                                                        tc
                                                        
                                                            ">
                                                    <h1 class = "blue0 f2-00 mv1-00">
                                                        Engineering Services
                                                    </h1>
                                                    <p class="lh-copy mb2-00">AESL has a highly qualified and experienced team of engineers that can provide a wide range of capabilities including general infrastructure, heavy civil engineering and building structure design. </p>  
                                                    <a  href="{% url 'website:projects-home' %}"
                                                        class="blue0 ba br0-25 pa0-50 f1-00"
                                                    >
                                                        EXPLORE 
                                                    </a>   
                                                </hgroup> 
                                            </figure>
                                        </article>
                                    </div>
                                </div>

                                <div id="services--surveying" 
                                    class=""
                                >
                                    <div id="4x4_Grid_services"
                                        class="grid gtc12 ggap1-00"
                                    >
                                        <article id="services__urbanPlanning"
                                            class="gr1s1 gc1s6
                                                grid items-center justify-center
                                                white-90"
                                        >
                                            <a href="javascript:void()"
                                                class = ""  
                                            >
                                                <figure class="shadow-5 bg-red grid  items-center justify-center">
                                                    <img src="{% static '_images\placeholders\landscape_Images\landscape_01.png' %}"            
                                                        alt=""
                                                        class="br0-50 br0-50 gc1s1 gr1s1 "
                                                    /> 
                                                    <figcaption id = ""
                                                        class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                            h-100 w-100
                                                            pa1-00
                                                            bg-blue0-50
                                                            f0-75
                                                            white-90 tc
                                                            
                                                                ">
                                                        <h3 class="blue0 bg-white ba dib pa0-50 mb0-00 f1-00">
                                                            Quantities
                                                        </h3>    
                                                        
                                                    </figcaption>
                                                </figure> 
                                            </a>
                                        </article>

                                        <article id="service__buildingDesign"
                                            class="gr2s1 gc1s3
                                                grid items-center justify-center
                                                white-90"      
                                        >
                                            <a href="javascript:void()"
                                                class = ""  
                                            >    
                                                <figure class="shadow-5 bg-gold grid  items-center justify-center">
                                                    <img src="{% static '_images\placeholders\portrait\portrait-1.png' %}"            
                                                        alt=""
                                                        class="br0-50 gc1s1 gr1s1 "
                                                    /> 
                                                    <hgroup id = ""
                                                        class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                        
                                                            pa1-00
                                                            bg-blue0-50
                                                            f0-75
                                                            white-90 tc
                                                            
                                                                ">
                                                        <h3 class="blue0 bg-white ba pa0-50 mb0-00 f1-00">
                                                            Valuations
                                                        </h3>    
                                                        
                                                    </hgroup>
                                                </figure>
                                            </a> 
                                        </article>

                                        <article id="landscapeDesign" 
                                            class="gr2s1 gc4s3
                                            grid items-center justify-center"
                                        >
                                            <a href="javascript:void()"
                                                    class = ""  
                                                >
                                                <figure class="shadow-5 bg-black grid  items-center justify-center">
                                                    <img src="{% static '_images\placeholders\portrait\portrait-1.png' %}"            
                                                        alt=""
                                                        class="br0-50 gc1s1 gr1s1 h-100"
                                                    /> 
                                                    <hgroup id = ""
                                                        class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                            
                                                            pa1-00
                                                            bg-blue0-50
                                                            f0-75
                                                            tc
                                                            
                                                                ">
                                                        <h3 class="blue0 bg-white ba dib pa0-50 mb0-00 f1-00">
                                                            Land (Geomatics)
                                                        </h3>    
                                                        
                                                    </hgroup>
                                                </figure>
                                            </a>
                                        </article> 

                                        <article id="" 
                                            class="gr1s2 gc7s6
                                                grid"
                                        >
                                            <figure class="shadow-5  grid  items-center justify-center">
                                                <hgroup id = ""
                                                    class="gr1s1 gc1s1 flex flex-column items-center justify-center
                                                        mv2-00
                                                        ph4-00
                                                        blue0
                                                        f1-25
                                                        tc
                                                        
                                                            ">
                                                    <h1 class = "blue0 f2-00 mv1-00">
                                                    Surveying Services
                                                    </h1>
                                                    <p class="lh-copy">We provide a range of Professional Quantity Surveying, Land Surveying and Valuation services tailored to meet our clients requirements. We always take challenges and bring them to a conclusion.</p>  
                                                    <a  href="{% url 'website:projects-home' %}"
                                                        class="blue0 ba br0-25 dib pa0-50 mb0-50 f1-00"
                                                    >
                                                        EXPLORE 
                                                    </a>   
                                                </hgroup> 
                                            </figure>
                                        </article>
                                    </div>
                                </div>
                                <!-- Services End -->
                            </article>
                            <footer class="gr3s1 gc1s12 pv1-00 bg-gray w-100">
                                Practice || Services
                            </footer>
                        </div>
                        <!-- Practice client_Speak -->
                    </div>

                    <div id="pageNav" 
                        class="gc4s1 
                            w-100 blue0 relative">
                        <div class="flex flex-column justify-between
                            min-vh-100 
                            ph2-00 pb1-00
                            pt5-00
                            sticky top-0"
                        >
                            <div>
                                <a href= {% url 'website:practice-home' %}
                                    class="dib mb1-00 
                                        f1-25 blue0 ttu fw6">Back to Practice
                                </a>
                                <ul class="mb1-00 bl bw4 pa1-00 b--gray gray f0-75">
                                    <h3 >AESL Services</h3>
                                    <li class="mb1-00 i">
                                        <a href="#services--overview"
                                            class="gray"
                                        >Overview</a>
                                    </li>
                                    <li class="mb1-00 i">
                                        <a href="#services--architecture"
                                            class="gray"
                                        >Architectural Services</a>
                                    </li>
                                    <li class="mb1-00 i">
                                        <a href="#services--engineering"
                                            class="gray"
                                        >Engineering Services</a>
                                    </li>
                                    <li class="mb1-00 i">
                                        <a href="#services--surveying"
                                            class="gray"
                                        >Surveying Services</a>
                                    </li>
                                </ul> 
                            </div>
                            <div class="h6-00" >
                                <small>Previous</small> </br>
                                <a href="{% url 'website:management' %}" 
                                    class="mb1-00 gray f0-75 b">
                                    AESL Management
                                </a> <br><br>
                                <small>Next</small> </br>
                                <a href="{% url 'website:client-speak' %}" 
                                    class="mb1-00 gray f0-75 b">
                                    AESL Client Speak
                                </a> <br><br>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </main>
        <!-- Page Main -->
    {% endblock pagecontent %}
{% endblock content %}