{% extends 'base_layout.html' %}
{% load static %}

{% block pagetitle %} 
    Principles - Integrity and Honesty
{% endblock pagetitle %}

{% block content %}
    {% block pagecontent %}
        <!-- Page Header -->
        <header 
            class="grid gtc12
            bg-white">
            <figure class="gc1s12">
                <img src="{% static '_images\principles\_partials\principles_1.png' %}"          
                    alt=""
                    class="w-100 vh-50 vh-60-l cover">
            </figure>
            <hgroup class="w-100 blue0 gc1s12">
                <h2 class="ph1-00 pb1-00 mb0-00
                    f5-00 ttu"
                >
                    Integrity and Honesty
                </h2>     
            </hgroup> 
            <!-- Page Navigation -->
            {% include 'website/principles/_partials/principles-page-nav.html '%}
            <!-- Page Navigation -->
        </header>
        <!-- Page Header -->
        
        <div id="l_3:1" 
            class="grid gtc4"
        >
            <!-- AESL History Start -->
            <div id="lc_gc1s3__pageMain--history"
                class="gc1s3"
                    
            >   
                <!-- Page Contents-->
                <div id="overview"
                    class="grid gtc12 ggap1-00
                        pa1-00
                        "
                >
                    <!-- Overview Description -->
                    <article id="Project_Overview_1" 
                        class="gr1s1 gc2s10 tj lh-copy"
                    > 
                        <p>
                            AESL offers consultancy services in the infrastructure and building construction industry offering architectural and engineering services to public and private sector clients.
                        </p>
                        <P>
                            100% state-owned limited liability company

                        </P>
                    </article>
                    <!-- Overview Description -->

                    <!-- Overview Gallery -->
                    <div id="overview_gallery"
                        class="gr2s1 gc1s12
                            grid gtc12 ggap1-00
                            ph0-25 white-90"
                    >
                        
                        <article id="" 
                            class="gr1s1 gc1s6
                            flex items-center justify-center
                            relative">
                            <hgroup 
                                class="flex flex-column items-center justify-center
                                    pa0-50 bg-red 
                                    absolute
                                        ">
                                <h3>
                                    Integrity And Honesty 01
                                </h3>    
                                <span>
                                - Techiman, Ghana.
                                </span>    
                            </hgroup> 
                            <figure >
                                <img src="{% static '_images\principles\_partials\principles_1.png' %}"            
                                    alt=""
                                    class="
                                        w-100 h-100
                                        cover"
                                    /> 
                            </figure>
                        </article>
                        
                        <article id="passport_office" 
                            class="gr1s1 gc8s5
                                flex items-center justify-center
                                relative"
                        >
                            <figure class="shadow-5">
                                <img src="{% static '_images\principles\Kumasi-Central-Business-District-The-Post.jpg' %}"            
                                    alt=""
                                    class="pa0-50 ba b--red bw2"
                                /> 
                            </figure>
                            <hgroup 
                                class="flex flex-column items-center justify-start
                                    pa0-50
                                    bg-red
                                    absolute
                                        ">
                                <h3>
                                    Integrity And Honesty 02
                                </h3>    
                                <span>
                                - Accra , Ghana.
                                </span>    
                            </hgroup> 
                        </article>

                        <article id="proposed_apartment_2" 
                            class="gr2s1 gc1s5
                            flex items-center justify-center
                            relative">
                        
                            <hgroup 
                                class="flex flex-column items-center justify-start
                                    pa0-50
                                    bg-red
                                    absolute
                                        ">
                                <h3>
                                    Integrity And Honesty 03
                                </h3>    
                                <span>
                                - Accra , Ghana.
                                </span>    
                            </hgroup> 
                            <figure class="shadow-5">
                                <img src="{% static '_images\principles\_partials\principles_1.png' %}"            
                                    alt=""
                                    class="w-100
                                    
                                        ba b--gold 
                                    "
                                    /> 
                            </figure>
                        </article>

                        <article id="Office_Techiman" 
                            class="gr3s1 gc7s6
                                flex items-center justify-center
                                relative">
                        
                            <hgroup 
                                class="flex items-center justify-center
                                    bg-red
                                    absolute
                                        ">
                                <h3 class="
                                        flex items-center justify-around
                                        pa0-50
                                        white-90">
                                        Integrity And Honesty 04
                                </h3>    
                                <span class="white-90 flex items-center justify-center">
                                    - Techiman, Ghana.
                                </span>    
                            </hgroup> 
                            <figure >
                                <img src="{% static '_images\principles\_partials\principles_1.png' %}"            
                                    alt=""
                                    class="
                                        ba b--gold 
                                        "
                                    /> 
                            </figure>
                        </article>

                        <article id="misc_gold" 
                            class="gr3s1 gc6s1
                                flex items-center justify-center
                                bg-red
                            ">
                        </article>

                        <article id="misc_blue" 
                            class="gr2s1 gc6s7
                                flex items-center justify-center
                                bg-black-90 pa1-00 tj
                                ">
                                {% lorem 1 b random %}
                        </article>
                        <!-- Practice -->

                    </div>
                    <!-- Overview Gallery --> 
                    <!-- Page Footer -->
                    <footer class="gr3s1 gc1s12 pa1-00 bg-red white-90 w-100">
                        Principles || Integrity and Honesty
                    </footer>
                    <!-- Page Footer -->
                </div>
                <!-- Page Contents -->   
            </div>
            <!-- AESL History End -->

            <!-- AESL History Aside  Start -->
            <div id="lc_gc4s1__pageAside--history" 
                class="gc4s1"
            >
            </div>
            <!-- AESL History Aside  End -->
        </div>

        
    {% endblock pagecontent %} 
{% endblock content %}