{% extends 'base_layout.html' %}
{% load static %}

{% block pagetitle %} 
   Principles Home 
{% endblock pagetitle %}


{% block custom_css %} 

{% endblock custom_css %}


{% block scripts %}   

{% endblock scripts %}

{% block content %}
    <!-- main Body -->
    {% block pagecontent %}
        <div id="projects-home-page"
            class=""
        > 
                <!-- Page Header Start -->
                <header id = "princeples_pageHeader"
                    class="grid"
                >
                    <!-- Page Banner Start-->
                    <figure class="gc1s12">
                        <img src="{% static '_images/principles/_partials/principles_1.png' %}"          
                            alt=""         
                            class="w-100 vh-50 vh-60-l cover">
                    </figure>
                    <!-- Page Banner End-->
                    <!-- Page Title Start-->
                    <hgroup class="w-100 blue0 gc1s12">
                        <h2 class="
                            w-100 h-100
                            ph1-00 mb1-00
                            f5-00
                            ">
                            PRINCIPLES
                        </h2>     
                    </hgroup>
                    <!-- Page Title End --> 
                    <!-- Page Navigation Start-->
                    {% include 'website\principles\_partials\principles-page-nav.html' %}
                    <!-- Page Navigation End -->
                </header>
                <!-- Page Header End -->
            
                <!-- Page Main -->
                <main id="" 
                    class="bg-white"
                >
                    <!-- Overview -->
                    <div id="overview"
                    class="grid gtc12 ggap1-00
                        mb2-00
                        "
                >
                    <!-- Overview Description --> 
                    <header 
                        class="gr1s1 gc2s10 
                            w-100
                            blue0 bb"
                    >
                        <hgroup id=""
                            class=""
                        >
                            <div id="Project_Overview_1" 
                                class="gr2s1 gc1s10 f1-50"
                            > 
                                <p class="mb0-00 pv4-00 lh-copy tracked">
                                    {% lorem 50 w random %}.
                                </p>
                            </div>     
                        </hgroup> 
                    </header>
                    <!-- Overview Description -->
                </div>
                <!-- Overview -->
                    
                    <div id="practice"
                        class="gr3s1 gc1s12
                                grid gtc12 ggap1-00
                                ph0-25 mb4-00 white-90">
                        
                        <article id="principles_Civic" 
                            class="gr1s1 gc2s6
                                grid items-center justify-center
                                "
                        > 
                            <figure  class="gc1s1 gr1s1 grid items-center justify-center
                                    pa0-50 bg-red"
                            >
                                <img src="{% static '_images\practice\_partials\practice_2.jpg' %}"            
                                    alt=""
                                    class="w-100 h-100
                                        cover"
                                /> 
                            </figure>
                            <hgroup 
                                class="gc1s1 gr1s1 grid items-center justify-center
                                    ma4-00 pa1-00 bg-red z1"
                            >
                                <h3>
                                    CIVIC
                                </h3>    
                                <span>
                                    {% lorem 20 w random %}
                                </span> 
                                <a href="{% url 'website:principles-civic' %}"
                                    class="pa0-25 mt2-00 ba tc"
                                >
                                    EXPLORE
                                </a>       
                            </hgroup> 
                        </article>
                        <article id="misc_gold" 
                            class="gr1s1 gc8s4
                                grid items-center justify-center
                                ba b--red bw3
                                ">
                        </article>
                        
                        <article id="principles_Professionalism" 
                            class="gr2s1 gc6s6
                                grid items-center justify-center h-100
                                "
                        >
                            <figure  
                                class="gc1s1 gr1s1 grid items-center justify-center
                                    pa0-50 bg-blue0" 
                            >
                                <img src="{% static '_images\practice\_partials\practice_2.jpg' %}"            
                                    alt=""
                                    class="
                                        w-100 h-100
                                        cover"
                                /> 
                            </figure>
                            <hgroup 
                                class="gc1s1 gr1s1 grid items-center justify-center
                                    ma6-00 pa1-00 bg-blue0 z1"
                            >
                                <h3>
                                    PROFESSIONALISM
                                </h3>    
                                <span>
                                    {% lorem 20 w random %}
                                </span>
                                <a href="{% url 'website:principles-professionalism' %}"
                                    class="pa0-25 mt2-00 ba tc"
                                >
                                    EXPLORE
                                </a>    
                            </hgroup> 
                        </article>
                        <article id="misc_black" 
                            class="gr2s1 gc2s4
                                flex items-center justify-center
                                ba b--blue0 bw3
                                ">
                        </article>
                        <article id="principles_Excellence" 
                            class="gr3s1 gc2s6
                            grid items-center justify-center
                            ">
                             <figure class="gc1s1 gr1s1 
                                grid items-center justify-center
                                pa0-50
                                bg-red 
                                shadow-5">
                                <img src="{% static '_images\practice\_partials\practice_2.jpg' %}"            
                                    alt=""
                                    class="w-100"
                                /> 
                            </figure>
                            <hgroup 
                                class="gc1s1 gr1s1 grid items-center justify-center
                                    ma6-00 pa1-00 bg-red z1"
                            >
                                <h3>
                                    Excellence
                                </h3>    
                                <span>
                                    {% lorem 20 w random %}
                                </span>
                                <a href="{% url 'website:principles-excellence' %}"
                                    class="pa0-25 mt2-00 ba tc"
                                >
                                    EXPLORE
                                </a>        
                            </hgroup> 
                        </article>
                    
                        <article id="principles_IntegrityAndHonesty" 
                            class="gr4s1 gc6s6
                                grid items-center justify-center
                                ">
                                <figure  class="gc1s1 gr1s1 grid items-center justify-center
                                    pa0-50 bg-blue0 
                            
                                    ">
                                    <img src="{% static '_images\practice\_partials\practice_2.jpg' %}"            
                                        alt=""
                                        class="
                                            w-100 h-100
                                            cover"
                                        /> 
                                </figure>
                            <hgroup 
                                class="gc1s1 gr1s1 grid items-center justify-center
                                    ma4-00 pa1-00 bg-blue0 z1"
                            >
                                <h3>
                                    Integrity And Honesty
                                </h3>    
                                <span>
                                    {% lorem 20 w random %}
                                </span>
                                <a href="{% url 'website:principles-integrity-and-honesty' %}"
                                    class="pa0-25 mt2-00 ba tc"
                                >
                                    EXPLORE
                                </a>            
                            </hgroup> 
                        </article>

                        <article id="principles_TimelinessAndCostEffectiveness" 
                            class="gr5s1 gc2s6
                                grid items-center justify-center
                                "
                        >
                            <figure  class="gc1s1 gr1s1 grid items-center justify-center
                            pa0-50 bg-red 
                    
                                ">
                                <img src="{% static '_images\practice\_partials\practice_2.jpg' %}"            
                                    alt=""
                                    class="
                                        w-100 h-100
                                        cover"
                                    /> 
                            </figure>
                            <hgroup 
                                class="gc1s1 gr1s1 grid items-center justify-center
                                    ma4-00 pa1-00 bg-red z1"
                            >
                                <h3>
                                    Timeliness And Cost Effectiveness
                                </h3>    
                                <span>
                                    {% lorem 20 w random %}
                                </span> 
                                <a href="{% url 'website:principles-timeliness-and-cost-effectiveness' %}"
                                    class="pa0-25 mt2-00 ba tc"
                                >
                                    EXPLORE
                                </a>           
                            </hgroup> 
                        </article>
                    
                        <article id="principles_sustainability" 
                            class="gr6s1 gc6s6
                                grid items-center justify-center"
                            
                        >
                            <figure  class="gc1s1 gr1s1 
                                grid items-center justify-center
                                    pa0-50 bg-blue0 
                            
                                ">
                                <img src="{% static '_images\practice\_partials\practice_2.jpg' %}"            
                                    alt=""
                                    class="
                                        w-100 h-100
                                        cover"
                                    /> 
                            </figure>
                            <hgroup 
                                class="gc1s1 gr1s1 
                                    grid items-center justify-center
                                    ma4-00 pa1-00 bg-blue0 z1"
                            >
                                <h3>
                                    sustainability
                                </h3>    
                                <span>
                                    {% lorem 20 w random %}
                                </span>
                                <a href="{% url 'website:principles-sustainability' %}"
                                    class="pa0-25 mt2-00 ba tc"
                                >
                                    EXPLORE
                                </a>            
                            </hgroup> 
                        </article>

                        <article id="misc_gold" 
                            class="gr3s1 gc8s4
                                grid items-center justify-center
                                ba b--red bw3
                                ">
                        </article>
                    
                        <article id="misc_black" 
                            class="gr4s1 gc2s4
                                flex items-center justify-center
                                ba b--blue0 bw3
                                ">
                        </article>

                        <article id="misc_gold" 
                            class="gr5s1 gc8s4
                                grid items-center justify-center
                                ba b--red bw3
                                ">
                        </article>
                    
                        <article id="misc_black" 
                            class="gr6s1 gc2s4
                                flex items-center justify-center
                                ba b--blue0 bw3
                                ">
                        </article>
                        <!-- Practice -->
                    </div>
                    
                </main>
                <!-- Page Main --> 

                <!-- Principles page Footer -->  
                <footer id = "principlesPage__Footer"
                    class="mb1-00"
                >
                    {% include 'website/_partials/page_footer.html' %} 
                </footer>
                <!-- Principles page Footer -->
        </div>
    {% endblock pagecontent %}   
    <!-- main Body --> 
{% endblock content %}


