{% extends 'base_layout.html' %}
{% load static %}

{% block pagetitle %} 
    Principles - Timeliness and Cost Effectiveness
{% endblock pagetitle %}

{% block content %}
    {% block pagecontent %}
        <!-- Page Header -->
        <header 
            class="grid gtc12
            bg-white">
            <figure class="gc1s12">
                <img src="{% static '_images\principles\_partials\principles_1.png' %}"          
                    alt=""
                    class="w-100 vh-50 vh-60-l cover">
            </figure>
            <hgroup class="w-100 blue0 gc1s12">
                <h2 class="
                    w-100 h-100
                    pa1-00 mb0-00
                    f3-00 ttu
                    ">
                    Timeliness and Cost Effectiveness
                </h2>     
            </hgroup> 
        </header>
        <!-- Page Header -->
        
        <!-- Page Navigation -->
        {% include 'website/principles/_partials/principles-page-nav.html '%}
        <!-- Page Navigation -->

        <!-- Page Contents-->
        <div id="overview"
            class="grid gtc12 ggap1-00
                ph1-00
                mb3-00"
        >
            <header class="gr1s1 gc1s12 bg-black-10 w-100">
                <hgroup id=""
                    class=""
                >
                    <h2 class="mv1-00
                        f2-00 ttu"
                    >
                        Overview
                    </h2>     
                </hgroup> 
            </header>
            <!-- Overview Description -->
            <article id="Project_Overview_1" 
                class="gr2s1 gc1s8"
            > 
                <p>
                    AESL offers consultancy services in the infrastructure and building construction industry offering architectural and engineering services to public and private sector clients.
                </p>
                <P>
                    100% state-owned limited liability company

                </P>
            </article>
            <!-- Overview Description -->

            <!-- Overview Gallery -->
            <div id="overview_gallery"
                class="gr3s1 gc1s12
                    grid gtc12 ggap1-00
                    ph0-25 white-90">
                
                <article id="" 
                    class="gr1s1 gc1s3
                    flex items-center justify-center
                    relative">
                    <hgroup 
                        class="flex flex-column items-center justify-center
                            pa0-50 bg-blue0 
                            absolute
                                ">
                        <h3>
                            practice_2
                        </h3>    
                        <span>
                        - Techiman, Ghana.
                        </span>    
                    </hgroup> 
                    <figure >
                        <img src="{% static '_images\principles\_partials\principles_1.png' %}"            
                            alt=""
                            class="
                                w-100 h-100
                                cover"
                            /> 
                    </figure>
                </article>
                
                <article id="passport_office" 
                    class="gr1s1 gc6s4
                        flex items-center justify-center
                        relative"
                >
                    <figure class="shadow-5">
                        <img src="{% static '_images\principles\_partials\principles_1.png' %}"            
                            alt=""
                            class="pa0-50"
                        /> 
                    </figure>
                    <hgroup 
                        class="flex flex-column items-center justify-start
                            pa0-50
                            bg-blue0
                            absolute
                                ">
                        <h3>
                        Refeurbished Passport Office
                        </h3>    
                        <span>
                        - Accra , Ghana.
                        </span>    
                    </hgroup> 
                </article>

                <article id="proposed_apartment_2" 
                    class="gr2s2 gc1s3
                    flex items-center justify-center
                    relative">
                
                    <hgroup 
                        class="flex flex-column items-center justify-start
                            pa0-50
                            bg-blue0
                            absolute
                                ">
                        <h3>
                        Proposed Apartment
                        </h3>    
                        <span>
                        - Accra , Ghana.
                        </span>    
                    </hgroup> 
                    <figure class="shadow-5">
                        <img src="{% static '_images\principles\_partials\principles_1.png' %}"            
                            alt=""
                            class="w-100
                            
                                ba b--gold 
                            "
                            /> 
                    </figure>
                </article>

                <article id="Office_Techiman" 
                    class="gr1s1 gc11s2
                        flex items-center justify-center
                        relative">
                
                    <hgroup 
                        class="flex items-center justify-center
                            bg-blue0
                            absolute
                                ">
                        <h3 class="
                                flex items-center justify-around
                                pa0-50
                                white-90">
                            OFFICE BLOCK
                        </h3>    
                        <span class="white-90 flex items-center justify-center">
                            - Techiman, Ghana.
                        </span>    
                    </hgroup> 
                    <figure >
                        <img src="{% static '_images\principles\_partials\principles_1.png' %}"            
                            alt=""
                            class="
                                ba b--gold 
                                "
                            /> 
                    </figure>
                </article>

                <article id="misc_gold" 
                    class="gr3s1 gc6s1
                        flex items-center justify-center
                        bg-red
                    ">
                </article>

                <article id="misc_blue" 
                    class="gr2s1 gc6s3
                        flex items-center justify-center
                        bg-black-90
                        ">
                </article>
                <!-- Practice -->

            </div>
            <!-- Overview Gallery --> 
            <!-- Page Footer -->
            <footer class="gr3s1 gc1s12 pv1-00 bg-black-10 w-100">
                pageFooter
            </footer>
            <!-- Page Footer -->
        </div>
        <!-- Page Contents -->  
    {% endblock pagecontent %} 
{% endblock content %}