{% extends 'base_layout.html' %}
{% load static %}
{% block pagetitle %} 
   Accounts Page
{% endblock pagetitle %}

{% block custom_css %} 
{% endblock custom_css %}


{% block custom_scripts %}   
{% endblock custom_scripts %}

{% block content %}
   
    {% block pagecontent %}

        <div id="homePage"
            class="h-100"
        >
            <!-- Page Header Start -->
            <header id ="homePage__Header"
                class="mb2-00" 
            >
               
            </header>
            <!-- Page Header End -->

            <!-- Page Main Start -->
            <main class="ph1-00">
               Accounts Page
            </main>
            <!-- Page Main End -->

            <!-- Page Footer Start -->
            <footer id = "homePage__footer">
            </footer>
            <!-- Page Footer End -->
        </div>
    {% endblock pagecontent %}
    
{% endblock content %}
