
{% extends 'base_layout.html' %}

{% load static %}

<!-- OTHERS BLOCK -->
{% block others %}   
    
{% endblock others %}
<!-- OTHERS BLOCK END-->

<!-- CUSTOM CSS BLOCK -->
{% block custom_css %}   
    
{% endblock custom_css %}
<!-- CUSTOM CSS BLOCK END-->

<!-- CUSTOM CSS JS -->
{% block Custom_js %}   
    
{% endblock Custom_js %}
<!-- CUSTOM CSS JS END-->

<!-- PAGE TITLE BLOCK -->
{% block pagetitle %} 
    Register Accounts
{% endblock pagetitle %}
<!-- PAGE TITLE BLOCK END-->

{% block pagecontent %}
    <div id="AdminSignInPage"
        class="vh-100 flex items-center justify-center
            ">
        <div id="AdminSignIn_Content"
            class="flex flex-column items-center justify-between
            w-60-s">
            <header id = "AdminSignIn_Header"
                class="w-100 
                pa1-00 mb2-00
                bg-blue0
                white-90">
                <figure id = ""
                    class="flex justify-between items-center 
                        w12-00">
                    <img src="{% static 'images\avatar-01.png' %}" 
                        alt=""
                        class="w2-00 br-100">
                    <figcaption class="f1-25 ttc">
                        User Register
                    </figcaption>
                </figure>
            </header>
            <main id = "AdminSignIn_Main"
                class="bg-white">
                <!-- login details -->

                {% if not request.user.is_authenticated %}
                    <form id="registrationForm"
                        class="flex flex-column justify-between items-center 
                            w-100 h-100" 
                        method="POST"
                        action="{}">
                        {% csrf_token %}
                            <fieldset id = "admin-registration-credentials"
                                class="pa1-00  mb1-00 w-100"
                            >
                                <legend class="ph0-50">
                                Registration Credentials
                                </legend>
                                
                                {{ form.as_p }}
                                
                                <label for="submit"
                                    class="dib 
                                        w-100">
                                    <button type = "submit"
                                        class = "bg-blue0
                                            white-90
                                            pa0-50
                                            br0-25
                                            b--none"    
                                    >
                                        Register
                                    </button>
                                </label> 
                            </fieldset>
                            <fieldset id = "admin-login-credentials"
                                class="ph1-00  mb1-00 w-100"
                            >
                                <legend class="ph0-50">
                                Login Credentials
                                </legend>
                                <p class="mb0-00">Already have an account? Please
                                    <a class ="dib ba ml1-00 br0-25 blue0 pa0-50" href="user-login">
                                        Login
                                    </a>
                                </p>
                            </fieldset>   
                            <fieldset id ="admin-alternate-credentials" 
                                class="ph1-00  mb2-00 w-100">
                                <legend class="ph0-50">Secondary Login</legend>
                                <nav id="nav_social_media"
                                    class="w-100" 
                                    tabindex="0" 
                                    title="connect" 
                                    aria-label="connect">
                                    <ul id="social_media_list" 
                                        class="flex flex-column flex-row-m justify-between items-center 
                                            w-100"
                                        >
                                            <li class="ba br1-00 pa0-50 b--white-90 black-90"> 
                                                <a  href="" 
                                                    class="black-90 flex items-center justify-between"
                                                    title="Sign Up with Twitter" 
                                                    target="_blank" 
                                                    rel="noopener noreferrer">
                                                    <img src="{% static 'svgs/twitter.svg' %}" 
                                                        alt="" 
                                                        class="w1-00 mr1-00 "
                                                    >
                                                    Twitter
                                                </a>
                                            </li>
                                            <li class="ba br5-00 pa0-50 b--white-90"> 
                                                <a  href="" 
                                                    class="black-90 flex items-center justify-between"
                                                    title="Sign Up with Facebook" 
                                                    target="_blank" 
                                                    rel="noopener noreferrer">
                                                    <img src="{% static 'svgs/facebook.svg' %}" 
                                                        alt="" 
                                                        class="w1-00 mr0-25">
                                                        facebook
                                                </a>
                                            </li>
                                            <li class="ba br5-00 pa0-50 b--white-90"> 
                                                <a  href="" 
                                                    class="black-90 flex items-center justify-between pa0-25"
                                                    title="Sign Up with LinkedIn" 
                                                    target="_blank" 
                                                    rel="noopener noreferrer">
                                                    <img src="{% static 'svgs/linkedin.svg' %}" 
                                                        alt="" 
                                                        class="w1-00 mr0-25">
                                                    linkedIn
                                                </a>
                                                
                                            </li>
                                        </ul> 
                                </nav>
                            </fieldset>   
                    </form>
                {% else %}
                <p>You are already logged in and cannot register . Would you like to <a href="/logout">Logout</a>?</p>
                {% endif %}
                
                
            </main>
            <footer id="AdminSignIn_Footer"
                class="flex justify-between items-center
                w-100
                pa1-00 
                white-90  
                bg-blue0 ">
                <div>
                    AESL
                </div>
                <div>
                    <h5 class="f0-75 tc">
                        Consulting Architects, Enginners and Surveyors
                    </h5>
                </div>
            </footer>
        </div>
    </div>
{% endblock pagecontent %}
