
{% extends 'base_layout.html' %}

{% load static %}

<!-- TITLE BLOCK -->
{% block pagetitle %} 
    User Log In Page
{% endblock pagetitle %}
<!-- TITLE BLOCK END-->

<!-- OTHERS BLOCK -->
{% block others %}   
    
{% endblock others %}
<!-- OTHERS BLOCK END-->

<!-- CUSTOM CSS BLOCK -->
{% block custom_css %}   
    
{% endblock custom_css %}
<!-- CUSTOM CSS BLOCK END-->

<!-- CUSTOM CSS JS -->
{% block Custom_js %}   
    
{% endblock Custom_js %}
<!-- CUSTOM CSS JS END-->

{% block pagecontent %}
    <div id="UserLognInPage"
        class="vh-75 flex items-center justify-center
            ma2-00">
        <div id="UserLognIn--Content"
            class="flex flex-column items-center justify-between
            h-100 w-60-s">

            <header id = "UserLognIn--Header"
                class="w-100 
                pa1-00 mb1-00  
                bg-blue0
                white-90">
                <figure id = ""
                    class="flex justify-between items-center 
                        w12-00">
                    <img src="{% static '_media/images/Regular_Images/fpo_avatar.png' %}" 
                        alt=""
                        class="w2-00 br-100">
                    <figcaption class="f1-25 ttc">
                        User Login
                    </figcaption>
                </figure>
            </header>

            {% if not request.user.is_authenticated %}
                <main id = "UserLognIn--Main"
                    class="bg-white">
                    <!-- login details -->
                    <form id=""
                        class="flex flex-column justify-between items-center 
                            w-100 h-100 ph1-00" 
                        method="POST"
                        action="">
                        {% csrf_token %}
                        {% if error %}
                            <p class="red">{{error}}</p>
                        {% endif %}
                        <fieldset id = "admin-primary-credentials"
                            class="ph1-00  mb1-00 w-100">
                            <legend class="ph0-50">
                            Login Credentials
                            </legend>
                            <label for="username" 
                                class="dib mb1-00 w-100">Username:
                                <input id="username"
                                    name="username"
                                    class="w-100 pa0-50 mt0-25" 
                                    type="text"
                                    placeholder="Please Enter Your Username"
                                    tabindex="1" />
                            </label>
                            <label for="password"
                                class="dib mb1-00 w-100">Password:
                                <input id="password"
                                    name = "password"
                                    class="w-100 pa0-50 mt0-25" 
                                    type="password"
                                    placeholder="Please Enter Your Password"
                                />
                                <!-- <a class="blue0 f0-75" href="">Forgot Password?</a> -->
                            </label>
                            
                            <label for="logInSubmit"
                                class="dib 
                                    w-100">
                                <button type = "submit"
                                    class = "blue0
                                        
                                        pa0-50
                                        "    
                                >
                                    Submit
                                </button>
                            </label> 
                        </fieldset>
                    
                        <fieldset id ="admin-alternate-credentials" 
                            class="ph1-00  mb1-00 w-100">
                            <legend class="ph0-50">Secondary Login</legend>
                            <nav id="nav_social_media"
                                class="w-100 mb1-00" 
                                tabindex="0" 
                                title="connect" 
                                aria-label="connect">
                                <ul id="social_media_list" 
                                    class="flex flex-column flex-row-m justify-between items-center 
                                        w-100"
                                    >
                                        <li class="ba br1-00 pa0-50 b--white-90 black-90"> 
                                            <a  href="" 
                                                class="black-90 flex items-center justify-between"
                                                title="Follow me on Twitter" 
                                                target="_blank" 
                                                rel="noopener noreferrer">
                                                <img src="{% static '_media/svgs/twitter.svg' %}" 
                                                    alt="" 
                                                    class="w1-00 mr1-00 "
                                                >
                                                Twitter
                                            </a>
                                        </li>
                                        <li class="ba br5-00 pa0-50 b--white-90"> 
                                            <a  href="" 
                                                class="black-90 flex items-center justify-between"
                                                title="Follow me on Facebook" 
                                                target="_blank" 
                                                rel="noopener noreferrer">
                                                <img src="{% static '_media/svgs/facebook.svg' %}" 
                                                    alt="" 
                                                    class="w1-00 mr0-25">
                                                    facebook
                                            </a>
                                        </li>
                                        <li class="ba br5-00 pa0-50 b--white-90"> 
                                            <a  href="" 
                                                class="black-90 flex items-center justify-between pa0-25"
                                                title="Connect with me on LinkedIn" 
                                                target="_blank" 
                                                rel="noopener noreferrer">
                                                <img src="{% static '_media/svgs/linkedin.svg' %}" 
                                                    alt="" 
                                                    class="w1-00 mr0-25">
                                                linkedIn
                                            </a>
                                            
                                        </li>
                                    </ul> 
                            </nav>
                        </fieldset>
                    </form>
                    <!-- Log In with Social Media -->
                </main>
            {% else %}
                <p class=" tc">
                    You are already logged in. <br><br><br> Would you like to <a class="blue0 ba br0-25 pa0-25 f1-00 ttu" href="{% url 'accounts:user-logout' %}">logout?</a> 
                </p>
            {% endif %}

            <footer id="UserLognIn--Footer"
                class="flex justify-between items-center
                w-100
                pa1-00 
                white-90  
                bg-blue0 ">
                <div>
                    AESL
                </div>
                <div>
                    <h5 class="f0-75 tc">
                        Consulting Architects, Enginners and Surveyors
                    </h5>
                </div>
            </footer>
        </div>
    </div>
{% endblock pagecontent %}
