{% extends 'base_layout.html' %}
{% load static %}

{% block pagetitle %} 
   Managing Director
{% endblock pagetitle %}

{% block custom_css %} 
{% endblock custom_css %}


{% block custom_scripts %}   
{% endblock custom_scripts %}

{% block content %}

    {% block pagecontent %}
        <div id=""
            class="min-vh-100 w-100">
        
            <!-- Page Header -->
            <header id="peope_pageHeader"
                class="grid gtc12 
                    "
            >
                <figure class="gc1s12">
                    <img src="{% static '_images\practice\management\management-01.jpeg' %}"          
                        alt=""
                        class="vh-50 cover">
                </figure>
                <hgroup class="gc1s12 w-100 blue0 ph4-00 ">
                    <h2 class="w-100
                        pa1-00 mb0-00
                        f3-00 ttu
                        ">
                        Manging Director
                    </h2>     
                    <!-- Page Navigation -->
                    {% include 'website/people/_partials/principal-consultants-page-nav.html' %}
                    <!-- Page Navigation --> 
                </hgroup>
            </header>
            <!-- Page Header -->

            <!-- Page Main -->
            <main id = "people_pagemain"
                class="bg-white pa4-00">
               

                <!-- Principal Consultants -->
                <div id="principal_consultant"
                    class="grid gtc12 ggap1-00
                        ph0-50
                        mb2-00"
                >    
                    <div id="principal_consultants_gallery"
                        class="gr1s1 gc1s12
                            grid gtc12 ggap1-00
                            ph0-25 mb2-00
                            white-90"
                    >
                        <article id="people_principal_consultant_gallery_3" 
                            class="gr1s1 gc1s6
                            
                                    pt2-00 pl2-00
                                    pr6-00
                                    white-90 bg-blue1"
                        >
                            <figure class="shadow-5 bg-blue2 mb0-50">
                                <img src="{% static '_images\practice\management\managing-director\md-01.jpg' %}"
                                    alt=""
                                    class="pa0-50 w-75 bg-blue0"
                                /> 
                            </figure>
                            <hgroup 
                                class="flex flex-column
                                    w-100 bg-blue0 
                                    pa0-25
                                   white-90 
                                        ">
                                <h5 class="mb0-50">
                                    Isaac Agyei Marfo
                                </h5> 
                                <h6>
                                    architect
                                </h6>

                            </hgroup>
                        </article>
                        
                        <article id="people_principal_consultant_gallery_4" 
                            class="gr1s1 gc7s6
                                
                                
                                    
                                    white-90 bg-blue0"
                        >
                            <figure class="shadow-5 mb0-50">
                                <img src="{% static '_images\practice\management\managing-director\md-02.jpeg' %}"            
                                    alt=""
                                    class="pa0-50 "
                                /> 
                            </figure>
                            <hgroup 
                                class="flex flex-column
                                    w-100
                                    pa0-25
                                    white-90
                                        ">
                                <h5 class="mb0-50">
                                    Isaac Agyei Marfo
                                </h5> 
                                <h6>
                                    architect
                                </h6>   

                            </hgroup> 
                        </article>
                        <article id="people_principal_consultant_gallery_3" 
                            class="gr2s1 gc1s6
                            flex
                                    h0-00 
                                    pb-100 
                                    white-90 bg-blue0"
                        >
                            <figure class="shadow-5 mb0-50">
                                <img src="{% static '_images\practice\management\managing-director\md-07.jpeg' %}"            
                                    alt=""
                                    class="pa0-50 "
                                /> 
                            </figure>
                            <hgroup 
                                class="flex flex-column
                                    w-100
                                    pa0-25
                                    blue0
                                        ">
                                <h5 class="mb0-50">
                                    Isaac Agyei Marfo
                                </h5> 
                                <h6>
                                    architect
                                </h6>   

                            </hgroup> 
                        </article>
                        
                        <article id="people_principal_consultant_gallery_4" 
                            class="gr2s1 gc7s6
                                flex
                                    h0-00 
                                    pb-100 
                                    white-90 bg-blue0"
                        >
                            <figure class="shadow-5 mb0-50">
                                <img src="{% static '_images\practice\management\managing-director\md-04.jpeg' %}"            
                                    alt=""
                                    class="pa0-50 "
                                /> 
                            </figure>
                            <hgroup 
                                class="flex flex-column
                                    w-100
                                    pa0-25
                                    blue0
                                        ">
                                <h5 class="mb0-50">
                                    Isaac Agyei Marfo
                                </h5> 
                                <h6>
                                    architect
                                </h6>   

                            </hgroup> 
                        </article>
                    </div>
                    <!-- Principal Consultants Header -->

                    <!-- Principal Consultants Description -->
                    <article id="principal_consultants_description" 
                        class="gr2s1 gc1s12"
                    > 
                        <div id=""
                            class="flex ggap1-00 w-100">
                            <div id="div">
                                <P>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa quaerat, culpa pariatur, tenetur, necessitatibus nisi minima
                                </P>
                                <P>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis  
                                </P>
                                <P>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis obcaecati nesciunt v
                                </P>
                            </div>
                            <div id="div">
                                <P>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa quaerat, culpa pariatur, tenetur, necessitatibus nisi
                                </P>
                                <P>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis obcaecati nesciunt voluptatibus
                                </P>
                                <P>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis obcaecati nesciunt voluptatibus 
                                </P>
                            </div>
                            <div id="div">
                                <P>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa quaerat, culpa pariatur, tenetur, necessitatibus nisi minima  
                                </P>
                                <P>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis obcaecati nesciunt voluptatibus 
                                </P>
                                <P>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis obcaecati nesciunt voluptatibus  
                                </P>
                            </div>
                        </div>
                        
                    </article>
                    <!-- Principal Consultants Description -->
                    
                   
                    <div id="people_principal_consultants_extra"
                            class="gr3s1 gc1s12
                                grid gtc12 ggap1-00
                                ph0-25 mb2-00
                                white-90"
                    >
                        
                        <article id="news_1" class="gr1s1 gc1s3
                                    flex
                                    h0-00 
                                    pb-100 
                                    white-90 bg-blue0
                                    ">
                            <hgroup class="flex justify-start items-start flex-column 
                                        w-100 h-100
                                        pa0-50
                                        
                                        ">
                                <h5 class="flex items-center justify-start
                                    w-100 mb0-50
                                    ">
                                    News 1
                                </h5> 
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate unde eius, est fugiat rerum possimus, modi eos officiis, architecto saepe cupidita
                                </p>
                            </hgroup> 
                        </article>
                        
                        <article id="news_2" 
                            class="gr1s1 gc4s3 w-100
                                flex
                                h0-00 
                                pb-100 
                                white-90 bg-blue0"
                        >
                            <hgroup class="flex  flex-column 
                                        w-100 h-100
                                        pa0-50
                                        bg-blue0
                                        ">
                                <h5 class="flex items-center justify-start
                                    w-100
                                    ">
                                    News 2
                                </h5> 
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate unde eius, est fugiat rerum possimus, modi eos officiis, architecto saepe </p>    
                                    
                            </hgroup> 
                        </article>
                        
                        <article id="new_3" 
                            class="gr1s1 gc7s3
                            flex
                                    h0-00 
                                    pb-100 
                                    white-90 bg-blue0"
                        >
                            <hgroup class="flex justify-start items-start flex-column 
                                        w-100 h-100 
                                        pa0-50
                                        bg-blue0
                                        ">
                                <h5 class="flex items-center justify-start
                                    w-100 mb0-50
                                    ">
                                    News 3
                                </h5> 
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate unde eius, est fugiat rerum possimus, modi eos officiis, architecto saepe cupidita</p>    
                                
                            </hgroup>  
                        </article>
                        
                        <article id="people_rank_1" 
                            class="gr2s1 gc7s3
                            flex
                                    h0-00 
                                    pb-100 
                                    white-90 bg-blue0
                            "
                        >
                                <ul id=""
                                class="
                                    w-100 h-100
                                    pa0-50
                                    bg-blue0"
                            >   
                                {% for x in junior_ranks_1 %}
                                    <li class="">
                                        
                                       {{ x }}
                                    </li>
                                {% endfor %}          
                            </ul> 
                        </article>
                                                        
                        <article id="junior_ranks_2" 
                            class="gr2s1 gc10s3 shadow-5
                            flex
                                    h0-00 
                                    pb-100 
                                    white-90 bg-blue0"
                        >
                            <ul id=""
                                class="
                                    w-100
                                    pa0-50
                                    bg-blue0
                                    "
                            >   {% for x in senior_ranks %}
                                    <li class="">
                                        
                                        <a  href="{% url 'website:people-home' %}"
                                            class="white-90" 
                                        >{{ x }}</a>
                                    </li>
                                {% endfor %} 
                                    
                            </ul> 
                        </article>

                        <article id="misc_gold" 
                            class="gr2s1 gc1s3
                                pb-100
                                bg-gold"
                        >
                            
                        </article>
                        <article id="misc_blue_1" 
                            class="gr2s1 gc4s3
                                bg-blue2
                                ">
                        </article>
                        <article id="misc_blue_2" 
                            class="gr1s1 gc10s3
                                bg-blue0
                                ">
                        </article>
                    </div>
                     
                </div>

                <!-- Principal Consultants Gallery --> 
                <hgroup class="gc1s12 w-100 blue0">
                    <h2 class="w-100 h-100
                        pv1-00 mb0-00
                        f3-00 ttu
                        ">
                        Managing Director Alumni
                    </h2>     
                </hgroup>

                <div id="3x3_Grid_PrincipalConsultants" 
                    class="grid gc1s12 ggap0-50 ttu"
                >   
                    <article id="principalConsultants_01" 
                        class="gr1s1 gc1s4
                            flex items-center justify-center
                            pa0-50 
                            relative">
                        
                        <figure 
                            class=""
                        >
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover"
                        >
                        </figure>
                        <hgroup 
                            class="flex flex-column items-center justify-center 
                            w-100 h-100 
                            bg-black-40
                            white-90 z-5
                            absolute">
                            <h5 class="
                                ">
                               Managing Director Alumni Details
                            </h5>
                            <h4>Start Date - End Date</h4>     
                        </hgroup> 
                    </article>
                    
                    <article id="principalConsultants_02" 
                        class="gr1s1 gc5s4
                        flex items-center justify-center
                        pa0-50
                        relative"
                    >
                        <figure>
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover"
                            />
                        </figure> 
                        <hgroup 
                            class="flex flex-column items-center justify-center 
                            w-100 h-100 
                            bg-black-40
                            white-90 z-5
                            absolute">
                            <h5 class="
                                ">
                               Managing Director Alumni Details
                            </h5>
                            <h4>Start Date - End Date</h4>     
                        </hgroup>  
                    </article>

                    <article id="principalConsultants_03" 
                        class="gr1s1 gc9s4
                            flex items-center justify-center
                            pa0-50
                            relative"
                    >
                        <figure>
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover">
                                
                        </figure> 
                        <hgroup 
                            class="flex flex-column items-center justify-center 
                            w-100 h-100 
                            bg-black-40
                            white-90 z-5
                            absolute">
                            <h5 class="
                                ">
                               Managing Director Alumni Details
                            </h5>
                            <h4>Start Date - End Date</h4>     
                        </hgroup> 
                    </article>

                    <article id="principalConsultants_04" 
                        class="gr2s1 gc1s4
                            flex items-center justify-center
                            pa0-50 
                            relative"
                    >
                        <hgroup 
                            class="flex flex-column items-center justify-center 
                            w-100 h-100 
                            bg-black-40
                            white-90 z-5
                            absolute">
                            <h5 class="
                                ">
                               Managing Director Alumni Details
                            </h5>
                            <h4>Start Date - End Date</h4>     
                        </hgroup> 
                        <figure 
                            class=""
                        >
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover">
                        </figure> 
                    </article>
                    
                    <article id="principalConsultants_05" 
                        class="gr2s1 gc5s4
                            flex items-center justify-center
                            pa0-50
                            relative"
                    >
                        <figure>
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover">
                                
                        </figure> 
                        <hgroup 
                            class="flex flex-column items-center justify-center 
                            w-100 h-100 
                            bg-black-40
                            white-90 z-5
                            absolute">
                            <h5 class="
                                ">
                               Managing Director Alumni Details
                            </h5>
                            <h4>Start Date - End Date</h4>     
                        </hgroup> 
                    </article>

                    <article id="principalConsultants_06" 
                        class="gr2s1 gc9s4
                            flex items-center justify-center
                            pa0-50
                            relative"
                    >
                        <figure>
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover">
                                
                        </figure> 
                        <hgroup 
                            class="flex flex-column items-center justify-center 
                            w-100 h-100 
                            bg-black-40
                            white-90 z-5
                            absolute">
                            <h5 class="
                                ">
                               Managing Director Alumni Details
                            </h5>
                            <h4>Start Date - End Date</h4>     
                        </hgroup> 
                    </article>

                    <article id="principalConsultants_07" 
                        class="gr3s1 gc1s4
                            flex items-center justify-center
                            pa0-50 
                            relative"
                    >
                    <hgroup 
                        class="flex flex-column items-center justify-center 
                        w-100 h-100 
                        bg-black-40
                        white-90 z-5
                        absolute">
                        <h5 class="
                            ">
                           Managing Director Alumni Details
                        </h5>
                        <h4>Start Date - End Date</h4>     
                    </hgroup> 
                        <figure 
                            class=""
                        >
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover">
                        </figure> 
                    </article>
                    
                    <article id="principalConsultants_08" 
                        class="gr3s1 gc5s4
                            flex items-center justify-center
                            pa0-50
                            relative"
                    >
                        <figure>
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover">
                                
                        </figure> 
                        <hgroup 
                            class="flex flex-column items-center justify-center 
                            w-100 h-100 
                            bg-black-40
                            white-90 z-5
                            absolute">
                            <h5 class="
                                ">
                               Managing Director Alumni Details
                            </h5>
                            <h4>Start Date - End Date</h4>     
                        </hgroup>  
                    </article>

                    <article id="principalConsultants_09" 
                        class="gr3s1 gc9s4
                            flex items-center justify-center
                            pa0-50
                            relative"
                    >
                        <figure>
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover">
                                
                        </figure> 
                        <hgroup 
                            class="flex flex-column items-center justify-center 
                            w-100 h-100 
                            bg-black-40
                            white-90 z-5
                            absolute">
                            <h5 class="
                                ">
                               Managing Director Alumni Details
                            </h5>
                            <h4>Start Date - End Date</h4>     
                        </hgroup> 
                    </article>
                </div> 
                <!-- Principal Consultants Gallery -->

                <!--Related Projectss -->
                <hgroup class="gc1s12 w-100 blue0">
                    <h2 class="w-100 h-100
                        pa1-00 pb1-00 mb0-00
                        f3-00 ttu
                        ">
                        Related Projects
                    </h2>     
                </hgroup> 
                <div id="3x1_Grid_relatedProjects" 
                    class="grid gc1s12 ggap0-50 ttu"
                >   
                    <article id=""
                        class="gr1s1 gc1s4
                            flex items-center justify-center
                            pa0-50 
                            relative"
                    >
                        <hgroup 
                            class="flex 
                            w-100 h-100 
                            bg-blue1t3
                            z-5
                            absolute">
                            <h5 
                                class="flex items-center justify-center 
                                w-100 h-100 
                                white-90 ">
                               Project One
                            </h5>     
                        </hgroup> 
                        <figure 
                            class=""
                        >
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover">
                        </figure> 
                    </article>
                    
                    <article id="" 
                        class="gr1s1 gc5s4
                        flex items-center justify-center
                        pa0-50
                        relative"
                    >
                        <figure>
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover">
                                
                        </figure> 
                        <hgroup class="flex justify-around items-start flex-column 
                            w-100 h-100 bg-black-80
                            absolute">
                            <h5 class="flex items-center justify-center
                                w-100 tc 
                                white-90">
                                Project Two
                            </h5>     
                        </hgroup> 
                    </article>

                    <article id="" 
                        class="gr1s1 gc9s4
                            flex items-center justify-center
                            pa0-50
                            relative"
                    >
                        <figure>
                            <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                alt=""
                                class="w-100 h-100
                                    ba b--gold 
                                    cover">
                                
                        </figure> 
                        <hgroup class="flex justify-around items-start flex-column 
                            w-100 h-100 
                            bg-gold
                            absolute">
                            <h5 class="flex items-center justify-center
                                w-100 tc 
                                white-90">
                                Project Three
                            </h5>     
                        </hgroup> 
                    </article>
                </div>
                <!--Related Projectss -->
            </main>
            <!-- Page Main --> 

            <!-- main Footer -->
            <footer id="pageFooter"
                class=""
            >
                
            </footer>
            <!-- main Footer -->
        </div>
    {% endblock pagecontent %}
    
{% endblock content %}
