{% load static %}
<ul id="social_media_list" 
    class=" flex justify-around items-center w-100"
>
    <li class="ba br5-00 pa0-25 b--white-90"> 
        <a  href="" 
            title="Follow us on Twitter" 
            target="_blank" 
            rel="noopener noreferrer">
            <img src="{% static 'svgs/socialMedia/twitter.svg' %}" 
                alt="" 
                class="w1-00">
        </a>
    </li>
    <li class="ba br5-00 pa0-25 b--white-90"> 
        <a  href="" 
            title="Follow us on Facebook" 
            target="_blank" 
            rel="noopener noreferrer">
            <img src="{% static 'svgs/socialMedia/facebook.svg' %}" 
                alt=""  
                class="w1-00">
        </a>
    </li>
    <li class="ba br5-00 pa0-25 b--white-90"> 
        <a  href="" 
            title="Connect with us on LinkedIn" 
            target="_blank" 
            rel="noopener noreferrer">
            <img src="{% static 'svgs/socialMedia/linkedin.svg' %}" 
                alt="" 
                class="w1-00">
        </a>
        
    </li>
    <li class="ba br5-00 pa0-25 b--white-90"> 
        <a  href="" 
            title="Follow us on youtube" 
            target="_blank" 
            rel="noopener noreferrer">
            <img src="{% static 'svgs/socialMedia/youtube.svg' %}" 
                alt="" 
                class="w1-00">
        </a>
    </li>
    <li class="ba br5-00 pa0-25 b--white-90"> 
        <a  href="" 
            title="Get In Touch on WhatsApp" 
            target="_blank" 
            rel="noopener noreferrer">
            <img src="{% static 'svgs/socialMedia/WhatsApp.svg' %}" 
                alt="" 
                class="w1-00">
        </a>
    </li>
</ul> 