<form class="h-100" action="">
    <fieldset class="flex flex-column justify-between 
        h-100 pv1-00"
    >
        <legend class="ph0-50">
            AESL NEWSLETTER
        </legend>
        <p>
            {% lorem 25 w random %} <br> <br>
            {% lorem 25 w random %}
        </p>
        <label for=""
            class="dib mb1-00 w-100">Email:
            <input class="w-100 pa0-50 mt1-00" 
                type="text"
                placeholder="Enter Your Email"
            />
        </label>
        <label for=""
            class=""
        >
            <input 
                class="pa0-50 br0-25 b--none"
                type="submit"
                value="SUBSCRIBE"
            />
        </label>
    </fieldset>
</form>