{% load static %}
<form id=""
    action=""
    class = "w-100 dn flex-m flex-column
        "
>
    <input id=""
        type="text" 
        name="q" 
        id="q" 
        placeholder="Search Projects and People" 
        class="w-100
            pa0-50 mb1-00
            f0-75
            br0-25 b--none"
    />
    <button id=""
        type="submit" 
        class="w-100
            pa0-50 
            bg-blue0 white-90
            ba b--white br0-25"
    >
        search
    </button>
</form>