{% load static %}
<article id="m_professionalInstitutions" 
    class="grid gtc3 ggap1-00" 
    aria-hidden="False"
>
    <figure id="GIA"
        class="gr1s2 gc1s1 
            flex items-center 
            br0-25 bg-white"  
        data-use-new="true"
    >
        {% include 'components/atoms/a__GIA__Logo.html' %}
    </figure>

    <figure id="GhIE"
        class="gr1s1 gc2s2 
            flex items-center justify-center 
            br1-00"  
        data-use-new="true"
    >
        {% include 'components/atoms/a__GHIE__Logo.html' %}
    </figure>
    <figure id="Ghip"
        class="gr2s1 gc3s1 
            flex items-center justify-center 
            br1-00"  
        data-use-new="true"
    >
        {% include 'components/atoms/a__GHIP__Logo.html' %}
    </figure>
    <figure id="Ghis"
        class="gr2s1 gc2s1
            flex items-center justify-center 
            br1-00"  
        data-use-new="true"
    >
        {% include 'components/atoms/a__GHIS__Logo.html' %}
    </figure>
</article>