{% load static %}
<ul id="social_media_list" 
    class=" flex justify-around items-center 
        w-100"
>
    <li class="pa0-25 
        ba br5-00 b--white-90"
    > 
        <a  href="" 
            title="Follow AESL on Twitter" 
            target="_blank" 
            rel="noopener noreferrer"
        >
            <img src="{% static 'svgs/socialMedia/twitter.svg' %}" 
                alt="twitter logo" 
                class="w1-00"
            />
        </a>
    </li>
    <li class="pa0-25 
        ba br5-00 b--white-90"
    > 
        <a  href="" 
            title="Follow AESL on Facebook" 
            target="_blank" 
            rel="noopener noreferrer"
        >
            <img src="{% static 'svgs/socialMedia/facebook.svg' %}" 
                alt="Facebook Logo"  
                class="w1-00"
            />
        </a>
    </li>
    <li class="pa0-25 
        ba br5-00 b--white-90"
    > 
        <a  href="" 
            title="Connect with AESL on LinkedIn" 
            target="_blank" 
            rel="noopener noreferrer"
        >
            <img src="{% static 'svgs/socialMedia/linkedin.svg' %}" 
                alt="LinkedIn Logo" 
                class="w1-00"
            />
        </a>
        
    </li>
    <li class="pa0-25 
        ba br5-00 b--white-90"
    > 
        <a  href="" 
            title="Follow AESL on youtube" 
            target="_blank" 
            rel="noopener noreferrer"
        >
            <img src="{% static 'svgs/socialMedia/youtube.svg' %}" 
                alt="YouTube Logo" 
                class="w1-00"
            />
        </a>
    </li>
    <li class="pa0-25 
        ba br5-00 b--white-90"
    > 
        <a  href="" 
            title="Get In Touch with AESL on WhatsApp" 
            target="_blank" 
            rel="noopener noreferrer"
        >
            <img src="{% static 'svgs/socialMedia/WhatsApp.svg' %}" 
                alt="WhatsApp Logo" 
                class="w1-00"
            />
        </a>
    </li>
</ul> 