<ul class="dib-m flex-column-m 
        mb0-00 
        w-100 
        ttu
        bb bt white-90 pv1-50"
>
    <li class="mb0-50"
        tabindex="0" 
        title="projects" 
        aria-label="projects"
    >
        <a  href="{% url 'website:projects-home' %}" 
            class="white-90">
            projects
        </a>
    </li>
    <li class="mb0-50" 
        tabindex="0" 
        title="practice" 
        aria-label="practice"
    >
        <a  href="{% url 'website:practice-home' %}" 
            class="white-90">
            practice
        </a>
    </li>
    <li class="mb0-50" 
        tabindex="0" 
        title="principles" 
        aria-label="principles"
    >
        <a  href="{% url 'website:principles-home' %}" 
            class="white-90">
            principles
        </a>
    </li>
    <li class="mb0-50" 
        tabindex="0" 
        title="people" 
        aria-label="people"
    >
        <a  href="{% url 'website:people-home' %}" 
            class="white-90">
            people
        </a>
    </li>
    <li class="mb0-50" 
        tabindex="0" 
        title="news" 
        aria-label="news"
    >
        <a  href="{% url 'website:news-home' %}" 
            class="white-90">
            news
        </a>
    </li>
    <li class="mb0-00"
        tabindex="0" 
        title="publications" 
        aria-label="publications"
    >
        <a  href="{% url 'website:publications-home' %}" 
            class="white-90">
            publications
        </a>
    </li>
</ul> 