<ul id="m__horizontal-list"
    class="flex items-center justify-center 
        pv0-50 mb1-50
        bb
        f0-75 white-90"
>
    <li class="mr0-50">
        <a href="javaScript:void()">
        Legal</a>
    </li>
    <li class="mh0-50">
        <a href="javaScript:void()">
        Policies</a>
    </li>
    <li class="ml0-50">
        <a href="javaScript:void()">
        Privacy</a>
    </li>
    <li class="ml0-50">
        <a href="javaScript:void()">
        Guidelines</a>
    </li>
</ul> 