{% load static %}
<form id="searchForm"
    action=""
    class = "dn flex-m flex-column
        w-100"
>
    <input id=""
        type="text" 
        name="q" 
        id="q" 
        placeholder="Search Projects and People" 
        class="w-100
            pa0-50 mb1-00
            f0-75
            br0-25 b--none"
    />
    {% comment %} <button id="searchButton"
        type="submit" 
        class="
            pa0-50 
            white-90
            ba b--white br0-25
            bg-blue0" 
    >
        Search
    </button> {% endcomment %}
</form>