{% extends 'base_layout.html' %}
{% load static %}

{% block pagetitle %} 
   Senior Professionals Home 
{% endblock pagetitle %}

{% block custom_css %} 
{% endblock custom_css %}

{% block custom_scripts %}   
{% endblock custom_scripts %}

{% block content %}
        >
            {% block pagecontent %}
                <div id=""
                    class="min-vh-100 w-100">
                
                    <!-- Page Header -->
                    <header id="peope_pageHeader"
                        class="grid gtc12 
                            "
                    >
                        <figure class="gc1s12">
                            <img src="{% static '_images\placeholders\landscape_Images\environment-AdobeStock_289963126.jpg' %}"          
                                alt=""
                                class="vh-50 cover right">
                        </figure>
                        <hgroup class="gc1s12 w-100 blue0">
                            <h2 class="w-100 h-100
                                pa1-00 pb1-00 mb0-00
                                f3-00
                                ">
                                senior Professional name
                            </h2>     
                        </hgroup> 
                    </header>
                    <!-- Page Header -->

                    <!-- Page Main -->
                    <main id = "people_pagemain"
                        class="bg-white">
                        <!-- Page Navigation -->
                        {% include 'website\people\_partials\principal-consultants-page-nav.html' %}
                        <!-- Page Navigation -->

                        <!-- Senior Professionals -->
                        <div id="senoir_consultants"
                            class="grid gtc12 ggap1-00
                                ph0-50
                                mb2-00"
                        >    
                            <div id="people_principal_consultants_gallery"
                                class="gr1s1 gc1s12
                                    grid gtc12 ggap1-00
                                    ph0-25 mb2-00
                                    white-90"
                            >
                                <article id="people_principal_consultant_gallery_3" 
                                    class="gr1s1 gc1s6
                                    flex flex-column items-center justify-center"
                                >
                                    <figure class="shadow-5 mb0-50">
                                        <img src="{% static '_images\practice\management\director-of-information-technology\doit-01.jpeg' %}"            
                                            alt=""
                                            class="pa0-50 "
                                        /> 
                                    </figure>
                                    <hgroup 
                                        class="flex flex-column
                                            w-100
                                            pa0-25
                                            blue0
                                                ">
                                        <h5 class="mb0-50">
                                            Isaac Agyei Marfo
                                        </h5> 
                                        <h6>
                                            architect
                                        </h6>   

                                    </hgroup> 
                                </article>
                                
                                <article id="people_principal_consultant_gallery_4" 
                                    class="gr1s1 gc7s6
                                        flex flex-column items-center justify-center"
                                >
                                    <figure class="shadow-5 mb0-50">
                                        <img src="{% static '_images\practice\management\director-of-information-technology\doit-01.jpeg' %}"            
                                            alt=""
                                            class="pa0-50 "
                                        /> 
                                    </figure>
                                    <hgroup 
                                        class="flex flex-column
                                            w-100
                                            pa0-25
                                            blue0
                                                ">
                                        <h5 class="mb0-50">
                                            Isaac Agyei Marfo
                                        </h5> 
                                        <h6>
                                            architect
                                        </h6>   

                                    </hgroup> 
                                </article>
                            </div>
                            <!-- Principal Consultants Header -->

                            <!-- Principal Consultants Description -->
                            <article id="people_principal_consultants_description" 
                                class="gr2s1 gc1s12"
                            > 
                                <div id=""
                                    class="flex ggap1-00 w-100">
                                    <div id="div">
                                        <P>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa quaerat, culpa pariatur, tenetur, necessitatibus nisi minima
                                        </P>
                                        <P>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis  
                                        </P>
                                        <P>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis obcaecati nesciunt v
                                        </P>
                                    </div>
                                    <div id="div">
                                        <P>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa quaerat, culpa pariatur, tenetur, necessitatibus nisi
                                        </P>
                                        <P>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis obcaecati nesciunt voluptatibus
                                        </P>
                                        <P>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis obcaecati nesciunt voluptatibus 
                                        </P>
                                    </div>
                                    <div id="div">
                                        <P>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa quaerat, culpa pariatur, tenetur, necessitatibus nisi minima  
                                        </P>
                                        <P>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis obcaecati nesciunt voluptatibus 
                                        </P>
                                        <P>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor incidunt dolorum, veritatis blanditiis obcaecati nesciunt voluptatibus  
                                        </P>
                                    </div>
                                </div>
                                
                            </article>
                            <!-- Principal Consultants Description -->
                            
                            <!-- Principal Consultants Gallery -->
                            <div id="people_principal_consultants_gallery"
                                    class="gr3s1 gc1s12
                                        grid gtc12 ggap1-00
                                        ph0-25 mb2-00
                                        white-90"
                            >
                                
                                <article id="news-4" class="gr1s1 gc1s3
                                            flex items-center justify-center
                                            white-90
                                           ">
                                    <hgroup class="flex justify-start items-start flex-column 
                                                w-100 h-100 
                                                pa0-50
                                                bg-blue0
                                                ">
                                        <h5 class="flex items-center justify-start
                                            w-100 mb0-50
                                            ">
                                            News
                                        </h5> 
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate unde eius, est fugiat rerum possimus, modi eos officiis, architecto saepe cupidita</p>    
                                            
                                    </hgroup> 
                                </article>
                               
                                
                                <article id="people_principal_consultant_2" 
                                    class="gc4s3 w-100
                                        flex flex-column items-center justify-center"
                                >
                                    <hgroup class="flex  flex-column 
                                                w-100 h-100
                                                pa0-50
                                                bg-blue0
                                                ">
                                        <h5 class="flex items-center justify-start
                                            w-100
                                            ">
                                            News
                                        </h5> 
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate unde eius, est fugiat rerum possimus, modi eos officiis, architecto saepe </p>    
                                          
                                    </hgroup> 
                                </article>
                                
                                <article id="people_principal_consultant_3" 
                                    class="gr1s1 gc7s3
                                    flex flex-column items-center justify-center"
                                >
                                    <hgroup class="flex justify-start items-start flex-column 
                                                w-100 h-100 
                                                pa0-50
                                                bg-blue0
                                                ">
                                        <h5 class="flex items-center justify-start
                                            w-100 mb0-50
                                            ">
                                            News
                                        </h5> 
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate unde eius, est fugiat rerum possimus, modi eos officiis, architecto saepe cupidita</p>    
                                        
                                    </hgroup>  
                                </article>
                                
                                <article id="people_principal_consultant_5" 
                                    class="gr2s1 gc7s3
                                    flex flex-column items-center justify-center
                                    h-100"
                                >
                                        <ul id=""
                                        class="
                                            w-100 h-100
                                            pa0-50
                                            bg-blue0"
                                    >   
                                        {% for x in junior_ranks %}
                                            <li class="">
                                                
                                                <a  href=""
                                                    class="white-90" 
                                                >{{ x }}</a>
                                            </li>
                                        {% endfor %}          
                                    </ul> 
                                </article>
                                                               
                                <article id="people_principal_consultant_8" 
                                    class="gr2s1 gc10s3 shadow-5
                                    flex flex-column items-center justify-center"
                                >
                                    <ul id=""
                                        class="
                                            w-100
                                            pa0-50
                                            bg-blue0
                                            "
                                    >   {% for x in senior_ranks %}
                                            <li class="">
                                                
                                                <a  href="{% url 'pages:people-home' %}"
                                                    class="white-90" 
                                                >{{ x }}</a>
                                            </li>
                                        {% endfor %} 
                                            
                                    </ul> 
                                </article>

                                <article id="misc_gold" 
                                    class="gr2s1 gc1s3 h-100
                                        
                                        bg-gold h-100
                                    ">
                                    
                                </article>
                                <article id="misc_blue" 
                                    class="gr2s1 gc4s3
                                        
                                        bg-blue0
                                        ">
                                </article>
                                <article id="misc_blue" 
                                    class="gr1s1 gc10s3
                                        bg-blue0
                                        ">
                                </article>
                            </div>
                            <hgroup class="gc1s12 w-100 blue0">
                                <h2 class="gr1s1 w-100 h-100
                                    pa1-00 pb1-00 mb0-00
                                    f3-00
                                    ">
                                    Senior Professionals
                                </h2>     
                            </hgroup> 
                            <div id="3x3_Grid" 
                                class="grid gc1s12 ggap0-50"
                            >   

                                <article id="finance" 
                                    class="gr1s1 gc1s4
                                        flex items-center justify-center
                                        pa0-50 
                                        relative">
                                    <hgroup 
                                        class="flex 
                                        w-100 h-100 
                                        bg-blue1t3
                                        z-5
                                        absolute">
                                        <h5 
                                            class="flex items-center justify-center 
                                            w-100 h-100 
                                            white-90 ">
                                            Finance
                                        </h5>     
                                    </hgroup> 
                                    <figure 
                                        class=""
                                    >
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                    </figure>
                                    
                                </article>
                                
                                <article id="human-resources" 
                                    class="gr1s1 gc5s4
                                    flex items-center justify-center
                                    pa0-50
                                    relative"
                                >
                                    <figure>
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                            
                                    </figure> 
                                    <hgroup class="flex justify-around items-start flex-column 
                                        w-100 h-100 bg-black-80
                                        absolute">
                                        <h5 class="flex items-center justify-center
                                            w-100 tc 
                                            white-90">
                                            Human Resources
                                        </h5>     
                                    </hgroup> 
                                </article>

                                <article id="information-technology" 
                                    class="gr1s1 gc9s4
                                        flex items-center justify-center
                                        pa0-50
                                        relative"
                                >
                                    <figure>
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                            
                                    </figure> 
                                    <hgroup class="flex justify-around items-start flex-column 
                                        w-100 h-100 
                                        bg-gold
                                        absolute">
                                        <h5 class="flex items-center justify-center
                                            w-100 tc 
                                            white-90">
                                            Inforamation Technology
                                        </h5>     
                                    </hgroup> 
                                </article>

                                <article id="finance" 
                                    class="gr2s1 gc1s4
                                        flex items-center justify-center
                                        pa0-50 
                                        relative"
                                >
                                    <hgroup 
                                        class="flex 
                                        w-100 h-100 
                                        bg-blue1t3
                                        z-5
                                        absolute">
                                        <h5 
                                            class="flex items-center justify-center 
                                            w-100 h-100 
                                            white-90 ">
                                            Finance
                                        </h5>     
                                    </hgroup> 
                                    <figure 
                                        class=""
                                    >
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                    </figure> 
                                </article>
                                
                                <article id="human-resources" 
                                    class="gr2s1 gc5s4
                                        flex items-center justify-center
                                        pa0-50
                                        relative"
                                >
                                    <figure>
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                            
                                    </figure> 
                                    <hgroup class="flex justify-around items-start flex-column 
                                        w-100 h-100 bg-black-80
                                        absolute">
                                        <h5 class="flex items-center justify-center
                                            w-100 tc 
                                            white-90">
                                            Human Resources
                                        </h5>     
                                    </hgroup> 
                                </article>

                                <article id="information-technology" 
                                    class="gr2s1 gc9s4
                                        flex items-center justify-center
                                        pa0-50
                                        relative"
                                >
                                    <figure>
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                            
                                    </figure> 
                                    <hgroup class="flex justify-around items-start flex-column 
                                        w-100 h-100 
                                        bg-gold
                                        absolute">
                                        <h5 class="flex items-center justify-center
                                            w-100 tc 
                                            white-90">
                                            Inforamation Technology
                                        </h5>     
                                    </hgroup> 
                                </article>

                                <article id="finance" 
                                    class="gr3s1 gc1s4
                                        flex items-center justify-center
                                        pa0-50 
                                        relative"
                                >
                                    <hgroup 
                                        class="flex 
                                        w-100 h-100 
                                        bg-blue1t3
                                        z-5
                                        absolute">
                                        <h5 
                                            class="flex items-center justify-center 
                                            w-100 h-100 
                                            white-90 ">
                                            Finance
                                        </h5>     
                                    </hgroup> 
                                    <figure 
                                        class=""
                                    >
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                    </figure> 
                                </article>
                                
                                <article id="human-resources" 
                                    class="gr3s1 gc5s4
                                        flex items-center justify-center
                                        pa0-50
                                        relative"
                                >
                                    <figure>
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                            
                                    </figure> 
                                    <hgroup class="flex justify-around items-start flex-column 
                                        w-100 h-100 bg-black-80
                                        absolute">
                                        <h5 class="flex items-center justify-center
                                            w-100 tc 
                                            white-90">
                                            Human Resources
                                        </h5>     
                                    </hgroup> 
                                </article>

                                <article id="information-technology" 
                                    class="gr3s1 gc9s4
                                        flex items-center justify-center
                                        pa0-50
                                        relative"
                                >
                                    <figure>
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                            
                                    </figure> 
                                    <hgroup class="flex justify-around items-start flex-column 
                                        w-100 h-100 
                                        bg-gold
                                        absolute">
                                        <h5 class="flex items-center justify-center
                                            w-100 tc 
                                            white-90">
                                            Inforamation Technology
                                        </h5>     
                                    </hgroup> 
                                </article>
                            </div>
                                                    
                            <div id="3x1_Grid" 
                                class="grid gc1s12 ggap0-50"
                            >   
                                <hgroup class="gc1s12 w-100 blue0">
                                    <h2 class="w-100 h-100
                                        pa1-00 pb1-00 mb0-00
                                        f3-00
                                        ">
                                        Related
                                    </h2>     
                                </hgroup> 
                                <article id="" 
                                    class="gr2s1 gc1s4
                                        flex items-center justify-center
                                        pa0-50 
                                        relative"
                                >
                                    <hgroup 
                                        class="flex 
                                        w-100 h-100 
                                        bg-blue1t3
                                        z-5
                                        absolute">
                                        <h5 
                                            class="flex items-center justify-center 
                                            w-100 h-100 
                                            white-90 ">
                                            Finance
                                        </h5>     
                                    </hgroup> 
                                    <figure 
                                        class=""
                                    >
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                    </figure> 
                                </article>
                                
                                <article id="" 
                                    class="gr2s1 gc5s4
                                    flex items-center justify-center
                                    pa0-50
                                    relative"
                                >
                                    <figure>
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                            
                                    </figure> 
                                    <hgroup class="flex justify-around items-start flex-column 
                                        w-100 h-100 bg-black-80
                                        absolute">
                                        <h5 class="flex items-center justify-center
                                            w-100 tc 
                                            white-90">
                                            Human Resources
                                        </h5>     
                                    </hgroup> 
                                </article>

                                <article id="" 
                                    class="gr2s1 gc9s4
                                        flex items-center justify-center
                                        pa0-50
                                        relative"
                                >
                                    <figure>
                                        <img src="{% static '_images\placeholders\regular_images\sky.jpg' %}"            
                                            alt=""
                                            class="w-100 h-100
                                                ba b--gold 
                                                cover">
                                            
                                    </figure> 
                                    <hgroup class="flex justify-around items-start flex-column 
                                        w-100 h-100 
                                        bg-gold
                                        absolute">
                                        <h5 class="flex items-center justify-center
                                            w-100 tc 
                                            white-90">
                                            Inforamation Technology
                                        </h5>     
                                    </hgroup> 
                                </article>
                            </div>
                            <!-- Principal Consultants Gallery -->   
                        </div>
                        <!-- Senior Professionals -->
                    </main>
                    <!-- Page Main --> 

                    <!-- main Footer -->
                    <footer id="pageFooter"
                        class=""
                    >
                       
                    </footer>
                    <!-- main Footer -->
                </div>
            {% endblock pagecontent %}
            </div>
        <!-- 00.00   main Body -->
    </main> 
{% endblock content %}
