<div id="pageNav"
    class="grid gtc12 gc1s12 ggap1-00
        justify-between
        white-90 pv1-25 ph1-00 bg-blue0"
>
    <article id="practice_nav1" 
        class="gr1s1 gc1s1
            w10-00 h0-00 pb-100 
            f1-00
            ba br0-50 shadow-grey"
    >
        <ul id=""
            class="pa0-50"
        >
            <li class="">
                <a  href="{% url 'website:history' %}"
                    class="white-90 hover-gold:focus hover-gold:hover" 
                >History</a> 
            </li>     
            <li class="">
                <a  href="{% url 'website:mandate' %}"
                    class="white-90"    
                >Mandate</a>
            </li>     
            <li class=" ">
                <a  href="{% url 'website:functions' %}"
                    class="white-90" 
                >Functions</a>
            </li>     
            <li class="">
                <a  href="{% url 'website:mission-vision-values' %}"
                    class="white-90" 
                >Mission, Vision and Values</a> 
            </li>                       
                    
        </ul> 
    </article>
    
    <article id="practice_nav2" 
        class="gr1s1 gc2s1
            w10-00 h0-00 pb-100
            f1-00 
            ba br0-50 shadow-grey"
    >
        <ul class="pa0-50"
        >
            <li class="mb0-50">
                <a  href="{% url 'website:sector-ministry' %}"
                    class="white-90" 
                >Sector Ministry</a> 
            </li>   
            <li class="mb0-50 ">
                <a  href="{% url 'website:corporate-governance' %}"
                    class="white-90" 
                >Corporate Governance</a>
            </li>     
            
            <li class=" mb0-50">
                <a  href="{% url 'website:management' %}"
                    class="white-90" 
                >Management</a>
            </li>     
            <li class=" mb0-50">
                <a  href="{% url 'website:services' %}"
                    class="white-90" 
                >Services</a>
            </li>     
        </ul> 
    </article>

    <article id="practice_list" 
        class="gr1s1 gc12s1
            w10-00 h0-00 pb-100 
            bg-white blue0 br0-50 ba
            f1-00 shadow-grey"
    >
        <ul class="
           
            pa0-50
           
           
           "
        >
            <li class="mb0-50"> 
                <a class ="blue0" href="{% url 'website:client-speak' %}">
                    Client Speak 
                </a>
            </li>  
            <li class="mb0-50">
                <a class ="blue0" href="{% url 'website:alliances' %}">
                    Allliances
                </a>
            </li> 
            <li class="mb0-50"> 
                <a class ="blue0" href="{% url 'website:corporate-responsibilities' %}">
                    Corporate Responsibilities 
                </a>
            </li>  
        </ul> 
    </article>

    <article id="misc_1" 
        class="gr1s1-l gc7s2-l
            bg-blue1 br0-50
            "
    >
    </article>

    <article id="misc_2" 
        class="gr1s1-l gc9s2-l
            w-100 h-100
            bg-gray br0-50
            "
    >
    </article> 
</div>