<div id="pageNav"
    class="grid gtc12 ggap1-00 gc1s12
        ph1-00 mb2-00 w-100
        white-90"
>
    <nav id="principles_nav1" 
        class="gr1s1 gc1s2
            h10-00 w10-00 br0-50
            f1-00 shadow-red br0-50
            "
    >
        <ul id=""
            class="
                w-100 h-100 
                pa0-50
                bg-blue0 br0-50"
        >
            <li class="mb0-50">
                <a  href="{% url 'website:principles-civic' %}"
                    class="white-90 hover-black:hover hover-black:focus" 
                >Civic</a>
            </li>   
            <li class="mb0-50">
                <a  href="{% url 'website:principles-professionalism' %}"
                    class="white-90" 
                >Professionalism</a> 
            </li>     
            <li class="mb0-50">
                <a  href="{% url 'website:principles-excellence' %}"
                    class="white-90"    
                >Excellence</a>
            </li>     
            <li class=" mb0-50">
                <a  href="{% url 'website:principles-integrity-and-honesty' %}"
                    class="white-90" 
                >Integrity and Honesty</a>
            </li>     
        
        </ul> 
    </nav>

    <nav id="practice_nav2" 
        class="gr1s1 gc3s2
        h10-00 w10-00 shadow-red
        br0-50
        ">
        <ul class=" 
                w-100 h-100
                pa0-50 
                bg-blue0 br0-50"
        >
        <li class="mb0-50">
            <a  href="{% url 'website:principles-timeliness-and-cost-effectiveness' %}"
                class="white-90" 
            >Timeliness and Cost Effectiveness</a> 
        </li>                       
        <li class="mb0-50">
            <a  href="{% url 'website:principles-sustainability' %}"
                class="white-90" 
            >Sustainability</a> 
        </li>                       
        <li class="mb0-50">
            <a  href="{% url 'website:principles-empowerment' %}"
                class="white-90" 
            >Empowerment</a> 
        </li>                       
                        
        </ul> 
    </nav>

    <nav id="practice_list" 
        class="gr1s1 gc11s2
            h10-00 w10-00 shadow-red br0-50
            "
    >
        <ul class="
            w-100 h-100
            pa0-50
            blue0
            ba
            bg-white br0-50"
        >
            
        </ul> 
    </nav>

    <div id="misc_1" 
        class="gr1s1 gc7s2
            bg-blue0  br0-50
            ">
    </div>

    <div id="misc_2" 
        class="gr1s1 gc9s2
             br0-50
            bg-red
            ">
    </div>
</div>