{% extends 'base_layout.html' %}
{% load static %}

{% block pagetitle %} 
    Publications Home
{% endblock pagetitle %}


{% block custom_css %} 
<!-- Custom Stylesheets -->
<!-- Custom Stylesheets --> 
{% endblock custom_css %}


{% block scripts %}   
<!-- Custom Scripts -->

<!-- Custom Scripts -->
{% endblock scripts %}

{% block content %}
<!-- Page content Start -->
    {% block pagecontent %}
        <div id="projects-home-page"
            class=""
        > 
            <!-- Publications Page Header -->
                <header id = "publications_pageHeader"
                    class="grid gtc12
                    bg-white"
                >
                    <figure class="gc1s12"
                    >
                        <img src="{% static '_images\publications\publications_1.jpg' %}"          
                            alt=""_images\publications\publications_1.jpg
                            class="w-100 vh-50 vh-60-l cover"
                        />
                    </figure>
                    <hgroup class="gc1s12
                        w-100 blue0"
                    >
                        <h2 class="
                            w-100 h-100
                            pa1-00 mb0-00
                            f5-00 ttu"
                        >
                            Publications
                        </h2>
                    </hgroup> 
                </header>
            <!-- Publications Page Header -->
        
            <!-- Publications Page Main -->
                <main id="publications_pageMain"
                    class=""
                >
                    <div class="grid gtc12 ggap1-00
                        pa1-00"
                    >
                        <article class="gr1s3 gc1s12"
                        >
                            <hgroup class="flex justify-around items-start flex-column"
                            >
                                <h2 class="
                                    w-100 h-100
                                    mt0-75" 
                                >
                                    Please, we are sorry our <span class="blue0 bb bw2">Publications Page</span>  is under development
                                </h2>     
                                <h4 class="
                                    w-100 h-100
                                    mt0-75 
                                    red"
                                >
                                    It would be up and running very soon
                                </h4>     
                            </hgroup> 
                        </article>
                    </div>
                </main>
            <!-- Publications Page Main --> 
            
            <!-- Publications page Footer -->
                <footer id = "publicationsPage__Footer"
                    class="mb1-00"
                >
                    {% include 'website/_partials/page_footer.html' %} 
                </footer>
            <!-- Publications page Footer -->
        </div>
    {% endblock pagecontent %}   
<!-- Page content Start End--> 
{% endblock content %}

   



