<div id="pageNav"
    class="gc1s12 grid gtc12 ggap1-00 
        mb1-00 pa1-00 
        white-90 bg-blue0
        fw5 tracked-tight"
>
    <article id="people_nav1" 
        class="gr1s1 gc1s1
        w10-00 h0-00 
        pb-100 
        f1-00 
        bg-blue0 ba br0-50 shadow-green"
    >
        <ul id=""
            class="pa0-50"
        >   
            {% for x in senior_ranks %}
               <li class="mb0-75"> 
                    <a href="{% url 'website:ranks' slug=x.slug %}"
                        class="white-90" 
                    >
                    {{ x.name }}s
                    </a>
                </li>
            {% endfor %} 
        </ul> 
    </article>

    <article id="people_nav2" 
        class="gr1s1 gc3s2
        w10-00 h0-00 pb-100
        bg-blue1 br0-50 ba shadow-green"
    >
        <ul id=""
            class="ma0-50 "
        >   
            {% for x in junior_ranks_1 %}
                <li class="mb0-75">
                    <a  href="javascript:void()"
                        class="white-90" 
                    >
                    {{ x.name }}s
                    </a>
                </li>
            {% endfor %}          
        </ul> 
    </article>

    <article id="people_nav3" 
        class="gr1s1 gc6s1
        w10-00 h0-00 pb-100
        bg-blue3 br0-50 ba shadow-green"
    >
        <ul id=""
            class="ma0-50 "
        >   
            {% for x in junior_ranks_2 %}
                <li class="mb0-75">
                    <a  href="javascript:void()"
                        class="white-90" 
                    >{{ x.name }}</a>
                </li>
            {% endfor %}          
        </ul> 
    </article>

    <article id="alumni" 
        class="gr1s1 gc8s1 
            w10-00 h0-00 pb-100
            br0-50 ba shadow-green"
    >
        <ul id=""
            class="ma0-50"
        >   
            {% for x in alumni_ranks %}
                <li class="mb0-75">
                    <a  href=""
                        class="blue0" 
                    >{{ x.name }}</a>
                </li>
            {% endfor %}          
        </ul> 
    </article>

    <article id="gold_background" 
        class="gc7s1 gr1s1
            w-100 h0-00 pb-100
            bg-gold br0-50
            "
    >
    </article>

    <article id="blue0_backround_I" 
        class="gr1s1 gc5s1
            h0-00 w-100 pb-100
            bg-blue1 br0-50"
    >
    </article>

    <article id="blue0_backround_II" 
        class="gr1s1 gc2s1
            h0-00 w-100 pb-100
            bg-blue2 br0-50"
    >
    </article>

</div>