<div id="pageNav"
    class="gc1s12 grid gtc12 ggap1-00 
        mb2-00 ph1-00 fw5
        white-90 tracked-tight"
>
    <article id="people_nav1" 
        class="gr1s1 gc1s1
        w10-00 h0-00 pb-100 ba
        f1-00 bg-blue0 br0-50 shadow-green"
    >
        <ul id=""
            class="pa0-50"
        >   
            {% for x in senior_ranks %}
               <li class="mb0-75 "> 
                    <a href=""
                        class="white-90" 
                        >
                    {{ x }}
                    </a>
                </li>
            {% endfor %} 
                
        </ul> 
    </article>

    <article id="people_nav2" 
        class="gr1s1 gc3s2
        w10-00 h0-00 pb-100
        bg-blue1 br0-50 shadow-green"
    >
        <ul id=""
            class="ma0-50 "
        >   
            {% for x in junior_ranks_1 %}
                <li class="mb0-75">
                    <a  href=""
                        class="white-90" 
                    >{{ x }}</a>
                </li>
            {% endfor %}          
        </ul> 
    </article>

    <article id="people_nav3" 
        class="gr1s1 gc6s1
        w10-00 h0-00 pb-100
        bg-blue3 br0-50 shadow-green"
    >
        <ul id=""
            class="ma0-50 "
        >   
            {% for x in junior_ranks_2 %}
                <li class="mb0-75">
                    <a  href=""
                        class="white-90" 
                    >{{ x }}</a>
                </li>
            {% endfor %}          
        </ul> 
    </article>

    <article id="alumni" 
        class="gr1s1 gc8s1 
            w10-00 h0-00 pb-100
            br0-50 ba blue0 shadow-green"
    >
        <ul id=""
            class="ma0-50"
        >   
            {% for x in alumni_ranks %}
                <li class="mb0-75">
                    <a  href=""
                        class="blue0" 
                    >{{ x }}</a>
                </li>
            {% endfor %}          
        </ul> 
    </article>

    <article id="gold_infill" 
        class="gc7s1 gr1s1
            w3-00 h0-00 pb-100
            bg-gold br0-50
            "
    >
    </article>

    <article id="" 
        class="gr1s1 gc5s1
            h0-00 w3-00 pb-100
            bg-blue0 br0-50"
    >
    </article>

    <article id="" 
        class="gr1s1 gc2s1
            h0-00 w3-00 pb-100
            bg-blue0 br0-50"
    >
    </article>

</div>