{% extends 'base_layout.html' %}
{% load static %}

{% block pagetitle %} 
    Practice - Corporate Governance
{% endblock pagetitle %}

{% block custom_css %} 

{% endblock custom_css %}

{% block scripts %}   

{% endblock scripts %}

{% block content %}
    <!-- main Body Start -->
    {% block pagecontent %}
        <!-- Page Header -->
        <header 
            class="grid gtc12
            bg-white ">
            <figure class="gc1s12">
                <img src="{% static '_images\practice\corporate-governance\corporate-governance-01.jpeg' %}"          
                    alt=""
                    class="w-100 vh-60 cover">
            </figure>
            <hgroup class="w-100 blue0 gc1s12">
                <h2 class="
                   
                    pa1-00 mb0-00
                    f5-00 ttu
                    ">
                    Corporate Governance
                </h2>
                 {% include 'website/practice\_partials\practice-page-nav.html' %}     
            </hgroup> 
            <!-- Page Navigation -->
           
            <!-- Page Navigation -->
        </header>
        <!-- Page Header -->

        <!-- Page Main -->
        <main class="ph1-00">
            <div class="grid gtc4">

                <div id="pageDetails"
                    class="gc1s3
                        mb1-00 min-vh-100"
                >   
                    
                    <div id="cg--overview"
                        class="grid gtc12 ggap1-00 mb4-00
                        "         
                    >
                        <header class="gr1s1 gc1s12 bg-goldT w-100">
                            <hgroup id=""
                                class=""
                            >
                                <h2 class="mv1-00 pl1-00
                                    f2-00 ttu"
                                >
                                    Overview
                                </h2>     
                            </hgroup> 
                        </header>
                        <article id="" 
                            class="gr2s1 gc1s12"
                        >   
                            <div class="flex ggap1-00">
                                <div>
                                    <p>
                                        The Public Works Department (PWD) established by the British was used for all state works over decades post-colonial.
                                    </p>
                                    <p>
                                        The institutions like State Construction Corporation (SCC), State Housing Corporation (SHC), Highways.
                                    </p>
                                    <p>
                                        No privates businesses were allowed to handle state/ public works except the PWD.
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        The Public Works Department (PWD) established by the British was used for all state works over decades post-colonial.
                                    </p>
                                    <p>
                                        The institutions like State Construction Corporation (SCC), State Housing Corporation (SHC), Highways.
                                    </p>
                                    <p>
                                        No privates businesses were allowed to handle state/ public works except the PWD.
                                    </p>
                                </div>
                            </div>
                           
                            <div id=""
                                class="gr3s1 gc1s12
                                        grid gtc12 ggap1-00
                                        white-90">
                                
                                <article id="" 
                                    class="gr1s1 gc1s6
                                    flex items-center justify-center
                                    relative">
                                    
                                    <figure >
                                        <img src="{% static '_images\practice\corporate-governance\bod-01.jpg' %}"            
                                            alt=""
                                            class="
                                                w-100 h-100
                                                cover"
                                            /> 
                                    </figure>
                                </article>
                                
                                <article id="passport_office" 
                                    class="gr1s1 gc7s6
                                        flex items-center justify-center
                                        relative"
                                >
                                    <figure class="shadow-5">
                                        <img src="{% static '_images\practice\corporate-governance\bod-02.jpeg' %}"            
                                            alt=""
                                            class="pa0-50"
                                        /> 
                                    </figure>
                                </article>
                            
                                <article id="" 
                                    class="gr2s2 gc1s6
                                    flex items-center justify-center
                                    relative">                                 

                                    <figure class="shadow-5">
                                        <img src="{% static '_images\practice\corporate-governance\bod-03.jpeg' %}"            
                                            alt=""
                                            class="w-100
                                            
                                                ba b--gold 
                                                "
                                            /> 
                                    </figure>
                                </article>
                            
                                <article id="" 
                                    class="gr3s1 gc8s5
                                        flex items-center justify-center
                                        relative"
                                >                 
                                    <figure >
                                        <img src="{% static '_images\practice\corporate-governance\bod-04.jpeg' %}"            
                                            alt=""
                                            class="
                                                ba b--gold 
                                                "
                                            /> 
                                    </figure>
                                </article>
                            
                                <article id="" 
                                    class="gr3s1 gc6s1
                                        flex items-center justify-center
                                        bg-goldT
                                        ">
                                </article>
                            
                                <article id="" 
                                    class="gr2s1 gc6s3
                                        flex items-center justify-center
                                        bg-black-90
                                        ">
                                </article>
                                <!-- Practice -->
                            
                            </div>
                        </article>
                        <footer class="gr3s1 gc1s12 pa1-00 bg-goldT w-100">
                            Practice || Corporate Governance || Overview
                        </footer>
                    </div>

                    <div id="cg--boardChairman"
                        class="grid gtc12 ggap1-00 mb4-00
                        "         
                    >   
                        <header class="gr1s1 gc1s12 bg-goldT w-100">
                            <hgroup id=""
                                class=""
                            >
                                <h2 class="mv1-00 pl1-00
                                    f2-00 ttu"
                                >
                                    Board Chairman
                                </h2>     
                            </hgroup> 
                        </header>
                        <div id="corporate-governance-board-chairman" 
                            class="gr2s1 gc1s12
                                grid gtc12
                                white-90"
                        >
                            
                            <article id="tr" 
                                class="gr1s2 gc1s6
                                    flex flex-column justify-between
                                    relative 
                                    w-100 h-100
                                    pa2-00 ph2-00
                                    bg-blue0"
                            >
                                <div>
                                    <h2 class="mb1-00">Prof. Kwasi Asamoah</h2>
                                    <h3 class="mb1-00">Board Chairman</h3>
                                    <p>non vitae ducimus molestias dolorum ratione odit cumque harum inventore fugit dignissimos aliquam alias perspiciatis maxime reiciendis tenetur debitis magnam</p>
                                    <p>non vitae ducimus molestias dolorum ratione odit cumque harum inventore fugit dignissimos aliquam alias perspiciatis maxime reiciendis tenetur debitis magnam</p>
                                    <p>non vitae ducimus molestias dolorum ratione odit cumque harum inventore fugit dignissimos aliquam alias perspiciatis maxime reiciendis tenetur debitis magnam</p>
                                </div>
                                
                                <div class="flex f0-75">
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">LinkedIn</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Twitter</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Read More</a>
                                </div>

                            </article>
                            
                            <article id="" class="gr1s2 gc7s6
                                    flex items-center justify-center
                                    relative">
                                <figure class="shadow-5">
                                    <img src="{% static '_images\practice\corporate-governance\board-chairman.jpeg' %}" alt="" class="pa0-50"> 
                                </figure>
                            </article>
                        </div>
                        <footer class="gr3s1 gc1s12 pa1-00 bg-goldT w-100">
                            Practice || Corporate Governance || Board Chairman
                        </footer>
                    </div>

                    <div id="cg--boardMembers"
                        class="grid gtc12 ggap1-00"           
                    >   
                        <header class="gr1s1 gc1s12 bg-goldT w-100">
                            <hgroup id=""
                                class=""
                            >
                                <h2 class="mv1-00 pl1-00
                                    f2-00 ttu"
                                >
                                    Board Members
                                </h2>     
                            </hgroup> 
                        </header>

                        <div id="corporate-governance-board-member-01" 
                            class="gr2s1 gc1s4
                                grid gtc12
                                white-90"
                        >
                            
                            <article id="tr" class="gr1s1 gc1s12
                                    flex flex-column justify-between
                                    relative 
                                    w-100 h-100
                                    pa1-00
                                    bg-blue0">
                                <div>
                                    <h3 class="mb1-00">Rev. Osei Yaw Stephen</h3>
                                    <h4 class="mb1-00">Board Member</h4>
                                    <p>non vitae ducimus molestias dolorum ratione odit cumque harum inventore fugit dignissimos aliquam alias perspiciatis maxime reiciendis tenetur debitis magnam</p>
                                </div>
                                
                                <div class="flex f0-75">
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">LinkedIn</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Twitter</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Read More</a>
                                </div>
                            </article>
                            
                            <article id="" class="gr2s1 gc1s12  
                                    flex items-center justify-center
                                    relative">
                                <figure class="shadow-5">
                                    <img src="{% static '_images\practice\corporate-governance\board-member-01.jpeg' %}" alt="" class="pa0-50"> 
                                </figure>
                            
                            </article>
                        </div>

                        <div id="corporate-governance-board-member-02" 
                            class="gr2s1 gc5s4
                                grid gtc12
                                white-90"
                        >
                            
                            <article id="tr" class="gr2s1 gc1s12
                                    flex flex-column justify-between
                                    relative 
                                    w-100 h-100
                                    pa1-00
                                    bg-blue0">
                            <div>
                                    <h3 class="mb1-00">Prof. De- Graft Owusu Manu</h3>
                                    <h4 class="mb1-00">Board Member</h4>
                                    <p>non vitae ducimus molestias dolorum ratione odit cumque harum inventore fugit dignissimos aliquam alias perspiciatis maxime reiciendis tenetur debitis magnam</p>
                                </div>
                                
                                <div class="flex f0-75">
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">LinkedIn</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Twitter</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Read More</a>
                                </div>
                            
                            

                            </article>
                            
                            <article id="" class="gr1s1 gc1s12  
                                    flex items-center justify-center
                                    relative">
                                <figure class="shadow-5">
                                    <img src="{% static '_images\practice\corporate-governance\board-member-02.jpeg' %}" 
                                        alt="" 
                                        class="pa0-50"> 
                                </figure>
                            
                            </article>
                        </div>

                        <div id="corporate-governance-board-member-03" 
                            class="gr2s1 gc9s4
                                grid gtc12
                                white-90"
                        >
                            
                            <article id="tr" class="gr1s1 gc1s12
                                    flex flex-column justify-between
                                    relative 
                                    w-100 h-100
                                    pa1-00
                                    bg-blue0">
                            <div>
                                    <h3 class="mb1-00">Arc. Agyei Marfo Isaac </h3>
                                    <h4 class="mb1-00">MD / Board Member</h4>
                                    <p>non vitae ducimus molestias dolorum ratione odit cumque harum inventore fugit dignissimos aliquam alias perspiciatis maxime reiciendis tenetur debitis magnam</p>
                                </div>
                                
                                <div class="flex f0-75">
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">LinkedIn</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Twitter</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Read More</a>
                                </div>
                            
                            

                            </article>
                            
                            <article id="" class="gr2s1 gc1s12  
                                    flex items-center justify-center
                                    relative">
                                <figure class="shadow-5">
                                    <img src="{% static '_images\practice\corporate-governance\board-member-03.jpeg' %}" 
                                        alt="" 
                                        class="pa0-50 w-100"> 
                                </figure>
                            
                            </article>
                        </div>

                        <div id="corporate-governance-board-member-04" 
                            class="gr3s1 gc1s4
                                grid gtc12
                                white-90">
                            
                            <article id="tr" class="gr1s1 gc1s12
                                    flex flex-column justify-between
                                    relative 
                                    w-100 h-100
                                    pa1-00
                                    bg-blue0">
                                <div>
                                    <h3 class="mb1-00">Mad. Asamoah Susana</h3>
                                    <h4 class="mb1-00">Board Member</h4>
                                    <p>non vitae ducimus molestias dolorum ratione odit cumque harum inventore fugit dignissimos aliquam alias perspiciatis maxime reiciendis tenetur debitis magnam</p>
                                </div>
                                
                                <div class="flex f0-75">
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">LinkedIn</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Twitter</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Read More</a>
                                </div>
                            </article>
                            
                            <article id="" class="gr2s1 gc1s12  
                                    flex items-center justify-center
                                    relative">
                                <figure class="shadow-5">
                                    <img src="{% static '_images\practice\corporate-governance\board-member-04.jpg' %}" alt="" class="pa0-50"> 
                                </figure>
                            
                            </article>
                        </div>

                        <div id="corporate-governance-board-member-05" 
                            class="gr3s1 gc5s4
                                grid gtc12
                                white-90">
                            
                            <article id="tr" class="gr2s1 gc1s12
                                    flex flex-column justify-between
                                    relative 
                                    w-100 h-100
                                    pa1-00
                                    bg-blue0">
                                <div>
                                    <h3 class="mb1-00">Mr. Basco A. Kante</h3>
                                    <h4 class="mb1-00">Board Member</h4>
                                    <p>non vitae ducimus molestias dolorum ratione odit cumque harum inventore fugit dignissimos aliquam alias perspiciatis maxime reiciendis tenetur debitis magnam</p>
                                </div>
                                
                                <div class="flex f0-75">
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">LinkedIn</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Twitter</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Read More</a>
                                </div>
                            </article>
                            
                            <article id="" class="gr1s1 gc1s12  
                                    flex items-center justify-center
                                    relative">
                                <figure class="shadow-5">
                                    <img src="{% static '_images\practice\corporate-governance\board-member-05.jpg' %}" 
                                        alt="" 
                                        class="pa0-50"> 
                                </figure>
                            
                            </article>
                        </div>

                        <div id="corporate-governance-board-member-06" 
                            class="gr3s1 gc9s4
                                grid gtc12
                                white-90">
                            
                            <article id="tr" class="gr1s1 gc1s12
                                    flex flex-column justify-between
                                    relative 
                                    w-100 h-100
                                    pa1-00
                                    bg-blue0">
                            <div>
                                    <h3 class="mb1-00">Hon. Dakoa Newman (MP)</h3>
                                    <h4 class="mb1-00">Board Member</h4>
                                    <p>non vitae ducimus molestias dolorum ratione odit cumque harum inventore fugit dignissimos aliquam alias perspiciatis maxime reiciendis tenetur debitis magnam</p>
                                </div>
                                
                                <div class="flex f0-75">
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">LinkedIn</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Twitter</a>
                                    <a class="ma0-50 ba br0-50 pa0-50" href="">Read More</a>
                                </div>
                            </article>
                            
                            <article id="" class="gr2s1 gc1s12  
                                    flex items-center justify-center
                                    relative">
                                <figure class="shadow-5">
                                    <img src="{% static '_images\practice\corporate-governance\board-member-06.jpg' %}" 
                                        alt="" 
                                        class="pa0-50 w-100"> 
                                </figure>
                            
                            </article>
                        </div> 

                        <footer class="gr4s1 gc1s12 pa1-00 bg-goldT w-100">
                            Practice || Corporate Governance || Board Members
                        </footer>
                    </div>
                  
                </div>

                <div id="pageNav" 
                    class="gc4s1 
                        w-100 blue0 relative">
                    <div class="flex flex-column justify-between
                        min-vh-100 
                        ph2-00 pb1-00
                        pt5-00
                        sticky top-0"
                    >
                    
                        <ul class="mb1-00 bl bw4 pl2-00">
                            <h3 >Page Sections</h3>
                            <li class="mb1-00">
                                <a href="#cg--overview"
                                    class="blue0"
                                >
                                Overview</a> 
                            </li>
                            <li class="mb1-00">
                                <a href="#cg--boardChairman"
                                    class="blue0"
                                >
                                Board Chairman</a> 
                            </li>
                            <li class="mb1-00">
                                <a href="#cg--boardMembers"
                                    class="blue0"
                                >
                                Board Members</a> 
                            </li>
                        </ul> 
                       
                        <div class="h6-00" >
                            <small>Previous</small> </br>
                            <a href="{% url 'website:sector-ministry' %}" class="mb1-00 blue0 f0-75 b">Sector Ministry</a> <br><br>
                            <small>Next</small> </br>
                            <a href="{% url 'website:management' %}" class="mb1-00 blue0 f0-75 b">AESL Management</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
        <!-- Page Main -->

    {% endblock pagecontent %}
        <!-- 00.00   main Body -->
    </main> 
{% endblock content %}