{% extends 'base_layout.html' %}
{% load static %}

{% block title %} 
    Practice - Board Chairman
{% endblock title %}

{% block content %}
    <main id="l__mainContents"
        class="flex flex-column flex-row-l 
                    vh-100 w-100"
    >
        <!-- 00.00   mainHeader -->
        <div id="mainHeader" 
            class="flex items-center justify-between flex-column-l
                white-90"  
        >
            {% include '_partials/_mainHeader.html' %}
        </div>
        <!-- 00.00   mainHeader -->

        <!-- 00.00   main Body -->
        <div id="mainBody"
            class="w-100 of-y-scroll"
        >
            {% block mainbody %}
                <!-- Page Header -->
                <header 
                    class="grid gtc12
                    bg-white ">
                    <figure class="gc1s12">
                        <img src="{% static './_media/images/practice/practice_1.jpg' %}"          
                            alt=""
                            class="w-100 vh-60 cover">
                    </figure>
                    <hgroup class="w-100 blue0">
                        <h2 class="w-100 h-100
                            pa1-00 pb1-00 mb0-00
                            f3-00
                            ">
                            board chairman
                        </h2>     
                    </hgroup> 
                </header>
                <!-- Page Header -->

                <!-- Page Main -->
                <main class="bg-white">
                    <!-- Page Navigation -->
                    {% include '_partials/practice/practice-page-nav.html' %}
                    <!-- Page Navigation -->

                    <!-- Overview -->
                   
                    <!-- Overview -->

                        <article id="Office_Techiman" 
                            class="gr1s1 gc11s2
                                flex items-center justify-center
                                relative">
                        
                            <hgroup 
                                class="flex items-center justify-center
                                    bg-blue0
                                    absolute
                                        ">
                                <h3 class="
                                        flex items-center justify-around
                                        pa0-50
                                        white-90">
                                    OFFICE BLOCK
                                </h3>    
                                <span class="white-90 flex items-center justify-center">
                                    - Techiman, Ghana.
                                </span>    
                            </hgroup> 
                            <figure >
                                <img src="{% static '_media/images/practice/practice_4.jpg' %}"            
                                    alt=""
                                    class="
                                        ba b--gold 
                                        "
                                    /> 
                            </figure>
                        </article>

                        <article id="misc_gold" 
                            class="gr3s1 gc6s1
                                flex items-center justify-center
                                bg-gold
                            ">
                        </article>

                        <article id="misc_blue" 
                            class="gr2s1 gc6s3
                                flex items-center justify-center
                                bg-black-90
                                ">
                        </article>
                        <!-- Practice -->

                    </div>
                    <!-- Practice -->
                </main>
                <!-- Page Main --> 

                <!-- Page Footer -->
                <footer id="pageFooter"
                    class="">
                    {% include '_partials/page-footer.html' %}
                </footer>
                <!-- Page Footer -->
            {% endblock mainbody %}
        </div>
        <!-- 00.00   main Body -->
    </main> 
{% endblock content %}