{% extends 'base_layout.html' %}
{% load static %}

{% block pagetitle %} 
   Principles Home 
{% endblock pagetitle %}


{% block custom_css %} 
<!-- Custom Stylesheets -->
<!-- Custom Stylesheets --> 
{% endblock custom_css %}


{% block scripts %}   
<!-- Custom Scripts -->

<!-- Custom Scripts -->
{% endblock scripts %}

{% block content %}
    <!-- 00.00   main Body -->
    {% block pagecontent %}
        <div id="projects-home-page"
            class=""
        > 
            <!-- Page Header -->
            <header id = "princeples_pageHeader"
                class="grid gtc12
                bg-white">
                <figure class="gc1s12">
                    <img src="{% static '_images\news\news_1.jpg' %}"          
                        alt=""
                        class="w-100 vh-50 vh-60-l cover">
                </figure>
                <hgroup class="w-100 blue0 gc1s12">
                    <h2 class="
                        w-100 h-100
                        pa1-00 mb0-00
                        f3-00
                        ">
                        NEWS
                    </h2>     
                </hgroup> 
                <!-- Page Navigation -->
                
                <!-- Page Navigation -->
            </header>
            <!-- Page Header -->
        
            <!-- Page Main -->
            <main class="">
                <div class="grid gtc12 ggap1-00
                    pa1-00">
                    <article class="gr1s3 gc1s12">
                        <hgroup class="flex justify-around items-start flex-column">
                            <h2 class="
                                w-100 h-100
                                mt0-75 
                                ">
                                Please, we are sorry our <span class="blue0 bb bw2">News Page</span>  is under development
                            </h2>     
                            <h4 class="
                                w-100 h-100
                                mt0-75 
                                red
                                ">
                                It would be up and running very soon
                            </h4>     
                        </hgroup> 
                    </article>
                </div>
            </main>
            <!-- Page Main --> 
            
            <!-- page Footer -->
            {% comment %} <footer id = "home-page-footer">
                <div class="flex justify-between bg-blue0 pv4-00 ph1-00 white-90 mb1-00">
                    <div>
                        AESL
                    </div>
                    <div>
                        Consulting Architects, Engineers and Surveyors
                    </div>
                </div> 
            </footer> {% endcomment %}
            <!-- page Footer -->
        </div>
    {% endblock pagecontent %}   
    <!-- 00.00   main Body --> 
{% endblock content %}

   