{% extends 'base_layout.html' %}

{% load static %}

{% block title %} Project Catetory {% endblock title %}

{% block others %}   
    
{% endblock others %}


{% block content %}
    <!----- 00.00   MAIN --->
    <div id=""
        class="min-vh-100 w-100">
        
        <!----- Page Header ----->
        <header id="project_Header"
            class="grid gtc12
            ml16-00-m 
            bg-white"
        >
            <figure class="gc1s12">
                <img src="{% static './_media/images/Landscape_Images/fpo_hero.png' %}"          
                    alt=""
                    class="w-100 vh-60 cover mb3-00">
            </figure>
            <hgroup class="gc1s12
                    ph1-00 mb3-00">
                <h2 class="
                        f3-00
                    "
                >
                    PROJECT FAMILIES
                </h2>     
            </hgroup> 
        </header>
        <!--x-- Page Header --x-->

        <main class="ml16-00-m bg-white ph1-00">
            <!----- Page Navigation ----->
            <div id="pageNav"
                class="grid gtc12 ggap1-00
                    ph0-25 mb2-00
                    white-90"
                >
                <article id="projects_nav1" 
                    class="gr1s1 gc1s2
                        h10-00 w10-00
                        f1-00"
                >
                    <ul id=""
                        class="
                            w-100 h-100 
                            pa0-50
                            bg-blue0"
                    >
                        <li class="">
                            <a  href=""
                                class="white-90" 
                            >Civic & Culture</a>
                        </li>   
                        <li class="">
                            <a  href=""
                                class="white-90" 
                            >Education</a> 
                        </li>     
                         <li class="">
                            <a  href=""
                                class="white-90"    
                            >Health</a>
                        </li>     
                        <li class=" ">
                            <a  href="{}"
                                class="white-90" 
                            >Office & Mixed-Use</a>
                        </li>     
                        <li class="">
                            <a  href=""
                                class="white-90" 
                            >Hospitality</a> 
                        </li>                       
                    </ul> 
                </article>
                
                <article id="projects_nav2" 
                    class="gr1s1 gc3s2
                    flex items-center justify-center
                    h10-00 w10-00
                    f1-00
                    ">
                    <ul class=" 
                            w-100 h-100
                            pa0-50 
                            bg-blue0"
                    >
                         
                        <li class=" ">
                            <a  href=""
                                class="white-90" 
                            >Industrial and Retail</a>
                        </li>     
                           
                        <li class=" ">
                            <a  href=""
                                class="white-90" 
                            >Residential</a>
                        </li>     
                           
                        <li class="">
                            <a  href=""
                                class="white-90"    
                            >Sports and Leisure</a>
                        </li>     
                        <li class="">
                            <a  href=""
                                class="white-90" 
                            >Lanscape and Master Planning</a>
                        </li>
                    </ul> 
                </article>

                <article id="projects_list" 
                    class="gr1s1 gc11s2
                        flex items-center justify-center
                        h10-00 w10-00
                        f1-00"
                >
                    <ul class="gr1s1 gc11s2
                        w-100 h-100
                        pa0-50
                        blue0
                        ba
                        bg-white"
                    >
                        <li class=" ">
                            <a  href=""
                                class="blue0" 
                            >Projects List</a>
                        </li>     
                        <li class="">
                            <a  href=""
                                class="blue0" 
                            >Projects Map</a> 
                        </li>     
                        <li class="">
                            <a  href=""
                                class="blue0"    
                            >Films</a>
                        </li>     
                    </ul> 
                </article>

                <article id="misc_1" 
                    class="gr1s1 gc7s2
                        bg-blue0
                        ">
                </article>

                <article id="misc_2" 
                    class="gr1s1 gc9s2
                        
                        bg-gold
                        ">
                </article>
                
            </div>
            <!--x-- Page Navigation --x-->

            <!----- Projects Category Overview ----->
            <div id="project_Overview"
                class="grid gtc12 ggap1-00
                    ph1-00
                    mb3-00"
            >
                <hgroup id=""
                    class="gc1s12"
                >
                    <h2 class="mb3-00
                        f3-00"
                    >
                        PROJECT FAMLIES OVERVIEW
                    </h2>     
                </hgroup> 
    
                <article id="Project_Overview_1" 
                    class="gr2s1 gc1s8
                       
                    "
                > 
                <P>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, labore ab, pariatur adipisci deleniti dignissimos sit sint dolor quae sequi culpa fugit amet laboriosam laborum, omnis ex eligendi aut ipsam!
                </P>
                <P>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, labore ab, pariatur adipisci deleniti dignissimos sit sint dolor quae sequi culpa fugit amet laboriosam laborum, omnis ex eligendi aut ipsam!
                </P>
                </article>

            </div>
            <!--x-- Projects Category Overview --x-->

            <!----- Projects Category Gallery ----->
            <div id="project_category_Gallery"
                class="grid gtc12 ggap1-00
                    mb3-00"
            >
                <article id="project_category_1" 
                    class="gr1s1 gc1s6
                        flex items-center justify-center
                        relative"
                >
                    <figure class="shadow-5">
                        <img src="{% static '_media/images/Regular_Images/fpo_square.png' %}"            
                            alt=""
                            class="
                                w-100 
                                ba b--gold bw3
                                cover"
                        /> 
                    </figure>
                    <hgroup 
                        class="flex items-center justify-start
                            w-75
                            bg-gold
                            absolute"
                    >
                        <h3 class="
                                flex items-center justify-around
                                w-100 
                                pa0-50
                                mb0-00
                                white-90"
                        >
                            Civic and Culture
                        </h3>       
                    </hgroup> 
                </article>

                <article id="Project_category_2" 
                    class="gr1s1 gc7s6
                        flex items-center justify-center
                        relative"
                >
                   
                    <figure class="shadow-5" 
                    >
                        <img src="{% static '_media/images/Regular_Images/fpo_square.png' %}"            
                            alt=""
                            class="
                                w-100 h-100
                                ba b--gold bw3
                                cover"
                        /> 
                    </figure>
                    <hgroup 
                        class="flex items-center justify-start
                            w-75
                            bg-gold
                            absolute"
                    >
                        <h3 class="
                                flex items-center justify-around
                                w-100 
                                pa0-50
                                mb0-00
                                white-90"
                        >
                            Education
                        </h3>       
                    </hgroup> 
                </article>

                <article id="misc_1" 
                    class="gr6s1 gc7s1
                        flex items-center justify-center
                        bg-gold"
                >
                </article>

                <article id="misc_2" 
                    class="gr7s1 gc7s1
                        flex items-center justify-center
                        bg-blue0"
                >
                </article>
            </div>
            <!--x-- Projects Category Gallery --x-->
            
        </main>
       
            
        <footer id="pageFooter"
            class="ml16-00-m"
        >
            {% include '_partials/page-footer.html' %}
        </footer>
    </div>
   
{% endblock content %}
   